<section class="omg_component content-2">
	<div class="bg-color bg-white">
		<div class="container padd-top-lg padd-bottom-lg">
			<div class="row">
				<h1 class="title thin uppercase">
					You're in Right Place
				</h1>
				<p class="padd-bottom-sm color-primary text-sm">
					We are working really hard make your next project look outstanding.
				</p>
				<div class="col-md-4 col-sm-6 padd-top-md padd-bottom-md">
					<div class="bg-img" style="background-image:url('https://images.unsplash.com/photo-1454997423871-b5215756e54d?crop=entropy&fit=crop&fm=jpg&h=275&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=400')">
						<div class="overlay">
							<div class="padd-top-2x padd-bottom-2x text-center">
								<a href="#" class="btn btn-white-border">take a look</a>
							</div>
						</div>
					</div>
					<p class="hero-subtitle text-center padd-top-xs">
						Project 1
					</p>
				</div>

				<div class="col-md-4 col-sm-6 padd-top-md padd-bottom-md">
					<div class="bg-img" style="background-image:url('https://images.unsplash.com/photo-1453475250267-163ff185e88e?crop=entropy&fit=crop&fm=jpg&h=275&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=400')">
						<div class="overlay">
							<div class="padd-top-2x padd-bottom-2x text-center">
								<a href="#" class="btn btn-white-border">take a look</a>
							</div>
						</div>
					</div>
					<p class="hero-subtitle text-center padd-top-xs">
						Project 2
					</p>
				</div>

				<div class="col-md-4 col-sm-6 padd-top-md padd-bottom-md">
					<div class="bg-img" style="background-image:url('https://images.unsplash.com/photo-1453133451515-5ff7c1d0d63c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=400&fit=max&s=8e29eb26ae7415b02c1d1af049595152')">
						<div class="overlay">
							<div class="padd-top-2x padd-bottom-2x text-center">
								<a href="#" class="btn btn-white-border">take a look</a>
							</div>
						</div>
					</div>
					<p class="hero-subtitle text-center padd-top-xs">
						Project 3
					</p>
				</div>
				
			</div>
		</div>
	</div>
</section>