<section class="omg_component full-height content-44">
      <div class="full-height bg-img parallax-content" data-stellar-background-ratio="0.5"style="background-image:url('https://images.unsplash.com/photo-1452456956868-a5974bd417ac?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375')">
          <div class=" overlay-gradient">
            <div class="gutter full-height">
               <div class="v-align hero_layout">
                <div class="h-align v-bottom h-left">
                  <div class="padd-bottom-2x color-white">
                        <h3 class="hero-subtitle">EVERY ELEMENT, IS MADE WITH GREAT DETAILS <br><br>

AND PASSION THAT DICTATES.</h3>
                        <h2 class="title ">Disruptive.Simple </h2>
                  </div>
                </div>
            </div>
          </div>
      </div>
  </section>
