<section class="omg_component content-49">
	<div class="bg-color bg-grey">
		<div class="container">
			<div class="slideshow dark-control hide-arrows padd-top-2x padd-bottom-2x">
				<div class="slide">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center v-align-flex tweet">
							
					      		<i class="icon ion-social-twitter"></i>
					      		<p class="text-sm  text-justify">
							      		<a href="#">@john_deo</a> we'll be launching the new version of omg builder very soon. Thanks for buying Assembly.
				      			</p>
				      		
					      	
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center v-align-flex tweet">
							
					      		<i class="icon ion-social-twitter"></i>
					      		<p class="text-sm  text-justify">
							      		<a href="#">@Rockfeller</a> Great things time so does Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							      		tempor i.
				      			</p>
				      		
					      	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>