<section class="omg_component content-37">
	<div class="bg-img parallax-content" style="background-image: url('https://images.unsplash.com/photo-1444401518808-f6ef95ccc881?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=3583fbe5a3133c1d8e6b21a70d300940');">
		<div class="overlay">
			<div class="container padd-top-3x padd-bottom-3x color-white">
				<div class="row">
					<div class="col-md-8">
						<h3 class="title line-height-4">
							Our Builder was imagined as springboard to gain a deeper understanding of core design values.
						</h3>
						<p class="text-sm color-primary ">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						</p>
					</div>
				</div>
			</div>
		</div>	
	</div>
</section>
