<section class="omg_component content-17 text-center height-50">
    <div  class="col-md-4 full-height no-padding bg-img" style="background-image:url('img/tumblr_np2zc6fkJ11qfirfao1_1280.jpg');">
    </div>
    <div  class="col-md-4 bg-color bg-white full-height">
          <div class="v-align">
            <div class="h-align">
               <p class="hero-subtitle">fine tuning</p>
              <p class="title text-md uppercase">crafted with care to<br> make an impact</p>
              <p class="text-xs title color-primary">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.
              </p>
            </div>
          </div>
    </div>
     <div  class="col-md-4 full-height no-padding bg-img" style="background-image:url('img/tumblr_noq5zbZF011qfirfao1_1280.jpg');">
    </div>
</section>