<section class="omg_component content-43 ">
        <div class=" bg-img" style="background-image:url('img/DeathtoStock_Clementine2.jpg');background-size:cover;">
        <div class="overlay padd-top-2x padd-bottom-2x">
        <div class="v-align ">

            <div class="h-align h-left color-white">
                
                    <h1 class="title big  padd-top-xs">A minimal glance</h1>
                    <p class=" padd-bottom-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor </p>
                    <a href="#" class="btn btn-black btn-lg">get started</a>
            </div>
        </div>
        </div>
        </div>
    </section>