<section class="omg_component content-34">
	<div class="bg-color bg-white">
		<div class="container padd-top-md padd-bottom-md">
			<h2 class=" text-center title padd-bottom-md uppercase">Button Tabs</h2>
			<ul class="nav nav-tabs row" role="tablist" id="myTab">
			  <li role="presentation" class="active col-sm-2 col-sm-offset-2 text-center "><a href="#home" class="hero-subtitle" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
			  <li role="presentation" class="col-sm-2 text-center "><a href="#profile" class="hero-subtitle" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
			  <li role="presentation" class="col-sm-2 text-center "><a href="#messages" class="hero-subtitle" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
			  <li role="presentation" class="col-sm-2 text-center "><a href="#settings" class="hero-subtitle" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
			</ul>

			<div class="tab-content row text-center padd-top-md">
			  <p role="tabpanel" class="tab-pane active col-md-10 col-md-offset-1 text-sm color-primary" id="home">
			  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			  	consequat.	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			  	tempor incididunt ut labore et dolore magna aliqua. 
			  </p>
			  <p role="tabpanel" class="tab-pane col-md-10 col-md-offset-1 text-sm color-primary" id="profile">
			  	Ut enim ad minim veniam,
			  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			  	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			  	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			  	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			  </p>
			  <p role="tabpanel" class="tab-pane col-md-10 col-md-offset-1 text-sm color-primary" id="messages">
			  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			  	consequat.	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			  	tempor incididunt ut labore et dolore magna aliqua. 
			  </p>
			  <p role="tabpanel" class="tab-pane col-md-10 col-md-offset-1 text-sm color-primary" id="settings">
			  	Ut enim ad minim veniam,
			  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			  	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			  	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			  	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			  </p>
			</div>
		</div>
	</div>
</section>