<section class="omg_component content-61">
	<div class="bg-img color-white parallax-content" style="background-image: url('https://images.unsplash.com/photo-1415383552502-d44cf10dfc7e?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375');">
		<div class="overlay">
			<div class="container padd-top-md padd-bottom-md">
				<div class="row v-align-flex">
					<div class="col-sm-6">
						<h2 class="title uppercase letter-spacing-5 text-center">
							Brilliant Project
						</h2>
					</div>
					<div class="col-sm-6 full-height">
						<p class="text-right">
							<a href="#" class="hero-subtitle">
								home
							</a>
							<span class="seperator">/</span>
							<a href="#" class="hero-subtitle">
								works
							</a>
							<span class="seperator">/</span>
							<span class="hero-subtitle color-primary">
								Brilliant Project
							</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>