    <section class="omg_component contact-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 bg-white height-vh100">
                    <div class="text-center">
                        <h1 class="title  padd-top-xs wow animation fadeIn">Contact</h1>

                        <p class=" color-primary wow animation fadeIn padd-bottom-xs">36 Long Island City, Queens , NewYork
                            <br> Phone: +(01) 7565 2523 fab@assemblyline.in</p>

                        <p class="hero-subtitle  padd-bottom-xs wow animation fadeIn">Drop us a line</p>

                        <p class="text-xs title"></p>

                        <div class="padd-top-xs inner">
                             <form class="line-height-5 phpmailform" action="send.php" data-success-msg="thank you for your submission" data-error-msg="failed to submit the form.">
                                <input name="name" class="form-control input-field wow animated fadeIn margin-top-xs" placeholder="NAME" type="text">
                                <input name="email" class="form-control input-field wow animated fadeIn margin-top-xs" placeholder="EMAIL" type="email">
                                <textarea name="message" class="form-control input-field wow animated fadeIn margin-top-xs" placeholder="Message"></textarea>
                                <button class="btn btn-black wow animated fadeIn btn-block margin-top-md btn-lg" name="submit" type="submit">send</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 height-vh100 no-padding">
                    <div class="maps full-height" data-latitude="40.7454526" data-longitude="-73.9361703" data-zoom="12"></div>
                </div>
            </div>
        </div>
    </section>