<section class="omg_component  color-white">
	<div class="bg-img parallax-content" style="background-image:url('https://images.unsplash.com/photo-1453486211183-8bd248d7893a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=2def98d5025fdb6794415dbd1a442cfa');">
		<div class="overlay">
			<div class="container ">
			
				<div class="row">
				<div class="slideshow hide-dots">
					<div class="slide ">
						
							<div class="col-md-8 padd-top-2x padd-bottom-2x  text-center col-md-offset-2">
							<h2 class="text-center title capitalize">we know people admire simplicity </h2>
								<p class="text-sm  padd-bottom-xs">
									 Assembly has  managed to create a design the not only defies the traditional design principles but is also elegant and doesnt sacrifice usability.
								</p>
								<P>
									<img alt="image"  src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/48.jpg" class="img-50 img-circle">
								</P>
								<p class="hero-subtitle ">
									Brian Hill
								</p>
								<p class=" hero-subtitle color-primary">
									Owner, state motors
								</p>
							</div>
						</div>
					</div><!-- slide ends -->
				</div><!-- Slideshow ends -->
			</div>
		</div>
	</div>
</section>