<section class="omg_component content-27">
	<div class="bg-color bg-white">
		<div class="container padd-top-md padd-bottom-2x">
			<div class="row text-center">
				<h2 class="col-md-10 col-md-offset-1 padd-bottom-xs title">
					Design that touches Heart
				</h2>
				<div class="col-md-4 padd-top-md">
					<i class="icon ion-ios-star-outline"></i>
					<p class="text-sm hero-title">
						Awesome parallax
					</p>
					<p class="text-xs  color-primary">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco.
					</p>
				</div>

				<div class="col-md-4 padd-top-md">
					<i class="icon ion-ios-photos-outline"></i>
					<p class="text-sm hero-title">
						cool components
					</p>
					<p class="text-xs  color-primary">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco.
					</p>
				</div>

				<div class="col-md-4 padd-top-md">
					<i class="icon ion-ios-albums-outline"></i>
					<p class="text-sm hero-title">
						Great Customization
					</p>
					<p class="text-xs  color-primary">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>