<section class="omg_component content-24">
	<div class="bg-color bg-white ">
		<div class="container padd-top-lg padd-bottom-lg">
			<div class="row text-center">
				<h2 class="col-md-10 col-md-offset-1 padd-bottom-xs title">
					Assembly's Block is Crafted with passion.
				</h2>
				<div class="col-md-5  col-md-offset-1 padd-top-md">
					<i class="icon  ion-ios-monitor-outline"></i>
					<p class="hero-title">
						Simple & Clear
					</p>
					<p class="text-xs  color-primary">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do <br> eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
						 Ut enim ad minim veniam, quis nostrud exercitation.
					</p>
				</div>
				<div class="col-md-5   padd-top-md">
					<i class="icon  ion-ios-calendar-outline"></i>
					<p class="hero-title">
						Useful & amazing
					</p>
					<p class="text-xs  color-primary">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do <br> eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
						 Ut enim ad minim veniam, quis nostrud exercitation.
					</p>
				</div>

			</div>
		</div>
	</div>
</section>