<section class="omg_component content-33">
	<div class="bg-color bg-white">
		<div class="container padd-top-md padd-bottom-md">
			<h2 class=" text-center title uppercase padd-bottom-md">Icon tabs</h2>
			<ul class="nav nav-tabs row" role="tablist" id="myTab">
			  <li role="presentation" class="active col-sm-2 col-sm-offset-2 text-center"><a href="#home1" aria-controls="home1" role="tab" data-toggle="tab" class="">
			  <i class="icon ion-ios-loop"></i>
			  <p class="hero-subtitle">history</p>
			  </a></li>
			  <li role="presentation" class="col-sm-2 text-center"><a href="#profile1" aria-controls="profile1" role="tab" data-toggle="tab" class="">
			  	<i class="icon ion-ios-heart-outline"></i>
				  <p class="hero-subtitle">approach</p>
			  </a></li>
			  <li role="presentation" class="col-sm-2 text-center"><a href="#messages1" aria-controls="messages1" role="tab" data-toggle="tab" class="">
				  <i class="icon ion-ios-checkmark-outline"></i>
				  <p class="hero-subtitle">culture</p>
			  </a></li>
			  <li role="presentation" class="col-sm-2 text-center"><a href="#settings1" aria-controls="settings1" role="tab" data-toggle="tab">
				  <i class="icon ion-ios-book-outline"></i>
				  <p class="hero-subtitle">method</p>
			  </a></li>
			</ul>

			<div class="tab-content row text-center padd-top-md">
			  <p role="tabpanel" class="tab-pane active col-md-10 col-md-offset-1 text-sm color-primary" id="home1">
			  	Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
			  </p>
			  <p role="tabpanel" class="tab-pane col-md-10 col-md-offset-1 text-sm color-primary" id="profile1">
			  	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
			  </p>
			  <p role="tabpanel" class="tab-pane col-md-10 col-md-offset-1 text-sm color-primary" id="messages1">
			  	Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
			  </p>
			  <p role="tabpanel" class="tab-pane col-md-10 col-md-offset-1 text-sm color-primary" id="settings1">
			  	At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est.
			  </p>
			</div>
		</div>
	</div>
</section>