<section class="omg_component content-61">
	<div class="bg-img color-white parallax-content" style="background-image: url('https://images.unsplash.com/photo-1447914178647-198e7e4a70b5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=f3cd81b3caee2c2acecd7c1ab306b4c6');">
		<div class="overlay">
			<div class="container padd-top-2x padd-bottom-2x">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="title uppercase letter-spacing-5 text-center">
							Brilliant Project
						</h2>
					</div>
					<div class="col-xs-12">
						<p class="text-center">
							<a href="#" class="hero-subtitle">
								home
							</a>
							<span class="seperator">/</span>
							<a href="#" class="hero-subtitle">
								works
							</a>
							<span class="seperator">/</span>
							<span class="hero-subtitle color-primary">
								Brilliant Project
							</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>