 <section class="omg_component ">
    <div class="container gutter-03 project-4-container padd-bottom-2x">
      <div class="row masonry-container" >
        <div class="wow animated fadeIn  col-md-6 col-sm-6 masonry_item">
                    <div class="project-4 ">
                        <img alt="image" class="img-responsive" width="100%" data-src="img/works/work1.jpg" src="https://images.unsplash.com/photo-1453486211183-8bd248d7893a?crop=entropy&fit=crop&fm=jpg&h=250&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=400">

                        <div class="txt-placeholder ">
                            <div class="v-align bg-white">
                                <div class="h-align">
                                  <div class="padd-top-xxs padd-bottom-xxs font-playfair omg-text letter-spacing-1">Uncharted Tribune</div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <div class=" wow animated fadeIn  col-md-6 col-sm-6 masonry_item">
                    <div class="project-4 ">
                        <img alt="image" class="img-responsive" width="100%" data-src="img/works/work1.jpg" src="https://images.unsplash.com/photo-1453486091293-3fa0f9eb2e31?crop=entropy&fit=crop&fm=jpg&h=250&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=400">

                        <div class="txt-placeholder ">
                            <div class="v-align bg-white">
                                <div class="h-align">
                                  <div class="padd-top-xxs padd-bottom-xxs font-playfair omg-text letter-spacing-1">The Exposed Branding</div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
         <div class="wow animated fadeIn  col-md-6 col-sm-6 masonry_item">
                    <div class="project-4 ">
                        <img alt="image" class="img-responsive" width="100%" data-src="img/works/work1.jpg" src="https://images.unsplash.com/photo-1453485820187-7f5f683dd496?crop=entropy&fit=crop&fm=jpg&h=250&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=400">

                        <div class="txt-placeholder ">
                            <div class="v-align bg-white">
                                <div class="h-align">
                                  <div class="padd-top-xxs padd-bottom-xxs font-playfair omg-text letter-spacing-1">Herald Macoz</div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <div class=" wow animated fadeIn  col-md-6 col-sm-6 masonry_item">
                    <div class="project-4 ">
                        <img alt="image" class="img-responsive" width="100%" data-src="img/works/work1.jpg" src="https://images.unsplash.com/photo-1453486173272-5c2f1e8ba3fb?crop=entropy&fit=crop&fm=jpg&h=250&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=400">

                        <div class="txt-placeholder ">
                            <div class="v-align bg-white">
                                <div class="h-align">
                                  <div class="padd-top-xxs padd-bottom-xxs font-playfair omg-text letter-spacing-1">The Persona Fume</div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>

      </div>
    </div>
  </section>
