<section class="omg_component content-7">
	<div class="bg-color bg-black color-white">
		<div class="container padd-top-md padd-bottom-lg">
			<div class="row text-center">
				<div class="col-md-6 col-md-offset-3">
					<h1 class="title">
						Featured Clients
					</h1>
					<p class="text-sm  padd-bottom-xs color-primary">
						We help our clients solve business problems, increase visibility and help them achieve unexpected results.
					</p>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-3">
					<img alt="image" src="img/client/8.png" class="img-responsive">
				</div>
				<div class="col-md-3">
					<img alt="image" src="img/client/14.png" class="img-responsive">
				</div>
				<div class="col-md-3">
					<img alt="image" src="img/client/16.png" class="img-responsive">
				</div>
				<div class="col-md-3">
					<img alt="image" src="img/client/20.png" class="img-responsive">
				</div>
				<div class="col-md-3">
					<img alt="image" src="img/client/22.png" class="img-responsive">
				</div>
				<div class="col-md-3">
					<img alt="image" src="img/client/24.png" class="img-responsive">
				</div>
				<div class="col-md-3">
					<img alt="image" src="img/client/4.png" class="img-responsive">
				</div>
				<div class="col-md-3">
					<img alt="image" src="img/client/5.png" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
</section> 
