<section class="omg_component">
<div class="bg-color bg-white padd-top-2x padd-bottom-2x">
	<div class="container">
	<div class="row">	
	<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
		<h3 class="title line-height-3">We are an award winning digital creative Studio in heart of NewYork. We create distinct online experinces that makes an impact straight to your heart.</h3>
		<p class="text-sm line-height-4 color-primary ">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		</p>
	</div>
	</div>
	</div>
</div>
</section>