<section class="omg_component">
<div class="bg-color bg-black">
		<div class="container">
			<div class="row padd-top-lg padd-bottom-lg">
				<div class="col-md-3 " >
					<h2 class=" padd-top-lg title" >
						Vision
					</h2>
					<p class="color-primary">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut lab.
					</p>
				</div>
				<div class="col-md-9">
					
					<div class="col-md-4 ">
						<p class="padd-top-lg color-primary text-lg ">1.</p>
						<p class=""> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididuna </p>
					</div>
					
					<div class="col-md-4 ">
						<p class="padd-top-lg color-primary text-lg ">2.</p>
						<p class=""> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididuna </p>
					</div>
					
					<div class="col-md-4 ">
						<p class="padd-top-lg color-primary text-lg ">3.</p>
						<p class=""> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididuna </p>
					</div>
					<div class="col-md-4 ">
						<p class="padd-top-lg color-primary text-lg ">4.</p>
						<p class=""> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididuna </p>
					</div>
					
					<div class="col-md-4 ">
						<p class="padd-top-lg color-primary text-lg ">5.</p>
						<p class=""> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididuna </p>
					</div>
					
					<div class="col-md-4 ">
						<p class="padd-top-lg color-primary text-lg ">6.</p>
						<p class=""> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididuna </p>
					</div>
					


				</div>
			</div>
		</div>
</div>
</section>