<section class="omg_component contact-9 color-white">
	<div class="bg-img" style="background-image:url('https://images.unsplash.com/photo-1447914178647-198e7e4a70b5?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375');">
		<div class="overlay">
			<div class="container padd-top-2x padd-bottom-2x text-center">
				<h3 class="hero-title">Subscribe Our monthly newsletter and join the folk.</h3>
				<p class=" ">
					Don't worry, we are allergic to spam.
				</p>
				<div class="col-md-12">
				<form class="form row padd-top-md mailchimp" action="http://us1.list-manage.com/subscribe/post?u=a0632cd90346d0712707d422e&amp;id=992c4932eb" method="post" target="_blank" >
				  <div class="form-group col-md-4 col-md-offset-3 no-padding">
				    <input type="email" class="form-control input-field" placeholder="john.doe@example.com" name="EMAIL" id="mce-EMAIL">
				  </div>
				  <div class="form-group col-md-2 no-padding">
				  	<button type="submit" class="btn btn-block btn-lg btn-black">Subscribe</button>
				  </div>
				</form>
				</div>
			</div>
		</div>
	</div>
</section>