<section class="omg_component">
	<div class="content-02 bg-img parallax-content" style="background-image:url('https://images.unsplash.com/photo-1444401045234-4a2ab1f645c0?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375')">
		<div class="padd-top-lg padd-bottom-lg overlay">
			<div class="container">
				<div class="row v-align-flex color-white">
					<div class="col-sm-8">
						<h2 class="title capitalize">Discussing future trends in digital design</h2>
						<p class="padd-bottom-md  hero-subtitle ">2ND AUGUST ,California</p>
						<a href="#" class="btn btn-white-border">
							purchase a ticket
						</a>
					</div>
					<div class="col-sm-4 text-center">
						
			                       <div class="video-icon-border " >
			                       <a href="#demovideo" class="open_video open_lightbox" >
			                     
			                            <i class="icon ion-ios-play" data-src="https://www.youtube.com/watch?v=0uaquGZKx_0"></i>
			                        </a>    
			                        </div>
			            
					</div>
				</div>
			</div>
		</div>
		
	</div>
</section>