<section class="omg_component">
    <div class="bg-black bg-color padd-top-md padd-bottom-md">
        <div class="inner text-center">
            <div class="inner">
                <h1 class="title "> Design Beautifully</h2>
                <p class="hero-subtitle ">fully responsive</p>
                <p class="color-primary padd-top-xs padd-bottom-xs">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip.
                </p>
            </div>
        </div> 
    </div>
</section>