<section class="omg_component content-3 full-height">
  <div class="bg-color bg-white full-height">
    <div class="col-md-6 bg-img full-height mobile-block" style="background-image: url('https://images.unsplash.com/photo-1453486091293-3fa0f9eb2e31?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=7d1984af8da88c12d1a4d9b42516cab8')"></div>
    <div class="col-md-6 full-height mobile-block text-center">
      <div class="v-align">
        <div class="h-align">
          <h1 class="title">Go for the Elite</h1>
          <p class=" col-md-10 col-md-offset-1  padd-bottom-xs">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.
          </p>
          <a href="#" class="btn btn-black btn-lg open_video open_lightbox"><span data-src="https://www.youtube.com/watch?v=0uaquGZKx_0">watch the story</span></a>
        </div>
      </div>
    </div>
  </div>
</section>