<section class="omg_component">
   <div class="bg-img parallax-content" style="background-image:url('https://images.unsplash.com/photo-1450297428000-5f0b50540da9?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375')" >
      <div class="overlay padd-top-2x padd-bottom-2x"> 
        <div class="inner text-center color-white">
            <h1 class="title uppercase "> build elegant </h1>
            <p class="inner col-primary padd-bottom-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven</p>
            <div class="padd-top-xs">
            <a class="btn btn-white btn-pill padd-bottom-xs uppercase">Start using now</a>
            </div>
        </div>
       </div> 
    </div>
</section>