<section class="omg_component content-16">
  <div class=" bg-color bg-white">
    <div class="container padd-top-lg padd-bottom-lg">
      <div class="row full-height v-align-flex">
      <div class="col-md-6">
            <img alt="image" src="img/bag.jpg" class="img-responsive img-rounded  ">
        
        
      </div>
      <div class="col-md-5 col-md-offset-1 text-center">
        
            <h3 class="title capitalize  ">Durable water-repellent  bag for your next trip</h3>
            <p class=" text-lg title capitalize  ">$25</p>
            <p class=" text-sm  capitalize padd-bottom-xs  ">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore.
            </p>
            <form>
              <div class="form-group">
                <label class="sr-only  ">Quantity</label>
                <div class="form-group">
                  <div class="input-group">
                    <a class="btn input-group-addon"><i class="ion-ios-minus-empty icon"></i></a>
                    <input type="text" class="form-control input-field" placeholder="Quantity 1">
                    <a class="btn input-group-addon"><i class="ion-ios-plus-empty icon"></i></a>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn  btn-black btn-block btn-lg" type="submit">add to cart</button>
                </div>
              </div>
            </form>
         
      </div>
    </div>
    </div>
  </div>
</section>