<section class="omg_component content-26">
	<div class="bg-color bg-white">
		<div class="container padd-top-md padd-bottom-md">
			<div class="row ">
				<h2 class="col-md-12  text-center padd-bottom-xs title">
					Meet Assembly. Meet Design
				</h2>
				<div class="col-md-4 text-center padd-top-md">
					<div class="icon-border bg-grey "><i class="icon ion-ios-photos-outline"></i></div>
					<p class="hero-title">
						Retina ready
					</p>
					<p class="text-xs color-primary ">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation.
					</p>
				</div>

				<div class="col-md-4 text-center padd-top-md">
					<div class="icon-border bg-grey "><i class="icon ion-ios-albums-outline"></i></div>
					<p class="hero-title">
						Custom CSS
					</p>
					<p class="text-xs color-primary ">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation.
					</p>
				</div>

				<div class="col-md-4 text-center padd-top-md">
					<div class="icon-border bg-grey"><i class="icon ion-ios-book-outline"></i></div>
					<p class="hero-title">
						Multiple Pages
					</p>
					<p class="text-xs color-primary ">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>