  <section class="omg_component content-52">
    <div class="bg-color bg-grey padd-bottom-xs">
    <div class="inner">
                <div class="slideshow dark-control ">
                    <div class="slide">
                    <div class="container-fluid padd-bottom-xs">
                <h4 class="padd-bottom-xs  padd-top-xs text-center title uppercase letter-spacing-1">Spread the word</h4>
                        <div class="row">
                            <div class="col-md-12 text-center padd-bottom-md">
                                 <div class=" padd-bottom-xs padd-top-xxs">
                                    <div class="col-md-12 padd-bottom-xxs">
                                     <img alt="image" src="https://s3.amazonaws.com/uifaces/faces/twitter/littlenono/128.jpg" class="img-circle"></div>
                                    <div class="col-md-12">
                                        <p class="hero-subtitle name">Maria Samuels <span class="color-primary">-Ambush.io</span> </p>
                                        
                                    </div>
                                  </div>
                                <p class="say  inner   ">
                                    The aim of marketing is to know and understand the customer so well the product or service fits him and sells itself.

                                </p>
                               
                            </div>
                        </div>
                        </div>
                    </div><!-- slide ends -->
                </div><!-- Slideshow ends -->
    </div>
    </div>
</section>