<section class="omg_component">
    <div class="bg-color bg-white padd-top-md padd-bottom-md">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center padd-top-xs padd-bottom-xs">
            <h1 class="uppercase title">menu</h1>
          </div>

          <div class="col-md-12">
            <div class="col-md-4 padd-top-xs">
              <div class="col-xs-9">
                <p class="font-montserrat text-sm uppercase">Fried SPRING Rolls</p>

                <p class="color-primary">Lorem ipsum dolor sit amet, consect</p>
              </div>

              <div class="col-xs-3">
                <h5 class="title uppercase">$2.89</h5>
              </div>
            </div>

            <div class="col-md-4 padd-top-xs">
              <div class="col-xs-9">
                <p class="font-montserrat text-sm uppercase">MOO KRATIAM</p>

                <p class="color-primary">Lorem ipsum dolor sit amet, consect</p>
              </div>

              <div class="col-xs-3">
                <h5 class="title uppercase">$12.78</h5>
              </div>
            </div>

            <div class="col-md-4 padd-top-xs">
              <div class="col-xs-9">
                <p class="font-montserrat text-sm uppercase">PLA MUK KRATIAM</p>

                <p class="color-primary">Lorem ipsum dolor sit amet, consect</p>
              </div>

              <div class="col-xs-3">
                <h5 class="title uppercase">$24.65</h5>
              </div>
            </div>

            <div class="col-md-4 padd-top-xs">
              <div class="col-xs-9">
                <p class="font-montserrat text-sm uppercase">PASSION PAVLOVA</p>

                <p class="color-primary">Lorem ipsum dolor sit amet, consect</p>
              </div>

              <div class="col-xs-3">
                <h5 class="title uppercase">$12.9</h5>
              </div>
            </div>

            <div class="col-md-4 padd-top-xs">
              <div class="col-xs-9">
                <p class="font-montserrat text-sm uppercase">FOCACCIA DI CARCIOFI</p>

                <p class="color-primary">Lorem ipsum dolor sit amet, consect</p>
              </div>

              <div class="col-xs-3">
                <h5 class="title uppercase">$8.5</h5>
              </div>
            </div>

            <div class="col-md-4 padd-top-xs">
              <div class="col-xs-9">
                <p class="font-montserrat text-sm uppercase">GREEN DELIGHT</p>

                <p class="color-primary">Lorem ipsum dolor sit amet, consect</p>
              </div>

              <div class="col-xs-3">
                <h5 class="title uppercase">$42.55</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>