<section class="full-height omg_component">
    <div class="full-height bg-img color-white" style="background-image:url('img/DeathtoStock_Clementine9.jpg')">
        <div class="full-height overlay">
            <div class="v-align ">
                <div class="h-align gutter  xs-text-center h-left">
                    <h1 class="title big light-font">Dream it <br> Built it</h1>
                    <p class="hero-subtitle padd-bottom-xs">With a modular approach,<br>we made a product that fits your needs.</p>
                    <div class="padd-bottom-xs">
                        <a href="#" class="btn btn-white btn-lg uppercase">Find out more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>