<section class="omg_component content-8">
	<div class="bg-color bg-black">
		<div class="container padd-top-md padd-bottom-md">
			<div class="row v-align-flex">
				<div class="col-md-4 padd-top-xs padd-bottom-xs">
					<h1 class="title">
						Performing Art
					</h1>
					<p class="text-sm color-primary">
						Simple and easy to use Builder Designed to make Websites in seconds. Awesome, Creative and Useful components fabricated with care. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Just take a look at it.
					</p>
				</div>
				<div class="col-md-7 col-md-offset-1 padd-top-xs padd-bottom-xs">
                    <div class="embed-responsive embed-responsive-16by9">
                    	
                    	<iframe class="embed-responsive-item video_iframe" src="https://player.vimeo.com/video/132254814?title=0&byline=0&portrait=0"  frameborder="0"   ></iframe>
                    </div>
				</div>
			</div>
		</div>
	</div>
</section>