<section class="omg_component content-50">
	<div class="bg-color bg-black color-white padd-bottom-xs">
			<div class="inner">
				<div class="slideshow">
					<div class="slide">
						<div class="container-fluid padd-top-xs padd-bottom-md">
							<h1 class="big icon ion-social-twitter text-center"></h1>
							<div class="row">
								<p class="text-sm text-center col-md-10 line-height-5 col-md-offset-1 ">
						      		<a href="#">@SteveJobs</a> we'll be launching the new version of omg builder very soon. Thanks for buying Assembly.
					      		</p>
					      		<p class="color-primary text-center  col-md-10 col-md-offset-1 hero-subtitle">
					      			Posted on 09 May
					      		</p>
				      		</div>
						</div>
					</div>
					<div class="slide">
						<div class="container-fluid padd-top-xs padd-bottom-md">
							<h1 class="big icon ion-social-twitter text-center"></h1>
							<div class="row">
								<p class="text-sm text-center col-md-10 line-height-5 col-md-offset-1 ">
						      		<a href="#">@TimCook</a> WOW! this is pretty neat stuff here.gotta love assemblyline design.
					      		</p>
					      		<p class="color-primary text-center  col-md-10 col-md-offset-1 hero-subtitle">
					      			Posted on 09 May
					      		</p>
				      		</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</section>
