<section class="omg_component content-45 color-white">
	<div class="bg-img parallax-content" style="background-image:url('https://images.unsplash.com/photo-1448932133140-b4045783ed9e?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375');">
		<div class="overlay">
			<div class="container text-center padd-top-2x padd-bottom-2x">
				<h1 class="title uppercase">Sleek Design</h1>
				<p class="text-sm  ">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor.
				</p>
				<div class="padd-bottom-xs">
					<a href="#" class="btn btn-white-border">
					purchase now
				</a>
				</div>
			</div>	
		</div>
	</div>
</section>