<section class="omg_component content-32">
	<div class="bg-color bg-black container-fluid color-white no-padding">
		<div class="col-md-3 padd-top-lg padd-bottom-lg text-center">
			<i class="icon i-24 ion-ios-pricetag-outline"></i>
			<p class="hero-subtitle padd-top-xs padd-bottom-xs">
				Components
			</p>
			<h1 class="text-jumbo">
			98
			</h1>
		</div>

		<div class="col-md-3 padd-top-lg padd-bottom-lg text-center">
			<i class="icon text-lg ion-ios-heart-outline"></i>
			<p class="hero-subtitle padd-top-xs padd-bottom-xs">
				icons
			</p>
			<h1 class="text-jumbo">
			70
			</h1>
		</div>

		<div class="col-md-3 padd-top-lg padd-bottom-lg text-center">
			<i class="icon text-lg ion-ios-circle-outline"></i>
			<p class="hero-subtitle padd-top-xs padd-bottom-xs">
				fonts
			</p>
			<h1 class="text-jumbo">
			38
			</h1>
		</div>

		<div class="col-md-3 padd-top-lg padd-bottom-lg text-center">
			<i class="icon text-lg ion-ios-star-outline"></i>
			<p class="hero-subtitle padd-top-xs padd-bottom-xs">
				colors
			</p>
			<h1 class="text-jumbo">
			26
			</h1>
		</div>
	</div>
</section>