<section class="omg_component  content-1" >
    <div class=" bg-white bg-color padd-top-2x padd-bottom-2x">
        <div class="container">
            <div class="row  v-align-flex">
               <div class="col-md-6">
                   <div class="slideshow ">
                        <div class="slide padd-top-xs " >
                            <img alt="image" src="https://images.unsplash.com/photo-1446814699583-d835df35a267?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=700&fit=max&s=7b3df2da034924c0d75dc43d626ae808">
                        </div>
                         <div class="slide padd-top-xs">
                            <img alt="image" src="https://images.unsplash.com/photo-1447613951690-7c869c5438e4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=700&fit=max&s=3f03021b39bfb93e165433efe6d2a170">
                        </div>

                   </div>
               </div>
               <div class="col-md-6">
                    <div class="gutter">
                        <h2 class="title uppercase letter-spacing-3 ">
                            Revolutionary Design
                        </h2>
                        <p class="color-primary  padd-bottom-xs line-height-4">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven
                        </p>
                        <a href="#" class="btn btn-black">start exploring</a>
                    </div>
               </div>
            </div>
        </div>
          
    </div>    
</section>