<section class="omg_component content-6 ">
<div class="bg-grey bg-color">
    <div class="container">
      <div class="row padd-top-md padd-bottom-md ">
      
            <div class="col-md-12">
              <h1 class="light-font ">Seamless Design.</h1>
              <p class=" hero-subtitle">Art , Copy  &  Design.</p>
            </div>
       
      </div>
      <div class="row  padd-bottom-lg">
          <div class="col-md-3 col-sm-6 padd-top-xs">
              <div class="image_wrapper">
                <img alt="image" src="img/ambient (11).png">
              </div>
               <h4> Performant</h4>
               <p class="color-primary">
                Every element, is made with great details and passion that dictates.
              </p>
          </div>
      <div class="col-md-3 col-sm-6 padd-top-xs">
              <div class="image_wrapper">
                <img alt="image" src="img/ambient (12).png">
              </div>
               <h4> Disruptive</h4>
               <p class="color-primary">
                Every element, is made with great details and passion that dictates.
              </p>
          </div>
      <div class="col-md-3 col-sm-6 padd-top-xs">
              <div class="image_wrapper">
                <img alt="image" src="img/ambient (13).png">
              </div>
               <h4> Modular</h4>
               <p class="color-primary">
                Every element, is made with great details and passion that dictates.
              </p>
          </div>
      <div class="col-md-3 col-sm-6 padd-top-xs">
              <div class="image_wrapper">
                <img alt="image" src="img/ambient (14).png">
              </div>
               <h4> Easy</h4>
               <p class="color-primary">
                Every element, is made with great details and passion that dictates.
              </p>
          </div>
    </div>
 </div>   
</section>