<section class="omg_component content-9">
	<div class="bg-color bg-grey">
		<div class="container padd-top-md padd-bottom-md">
			<div class="row v-align-flex">
				<div class="col-md-7 padd-top-xs padd-bottom-xs">
                    <div class="embed-responsive embed-responsive-16by9">
                    	<iframe class="embed-responsive-item video_iframe" src="http://player.vimeo.com/video/132454664?title=0&byline=0&portrait=0" frameborder="0"></iframe>

                    </div>
				</div>
				<div class="col-md-4 col-md-offset-1 padd-top-xs padd-bottom-xs">
					<h1 class="title">
						Play Reel
					</h1>
					<p class="text-sm color-primary">
						Simple and easy to use Builder Designed to make Websites in seconds. Awsome, Creative and Useful components fedricated with care. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Just take a look at it.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>