   <section class="content-22 omg_component">
        <div class="bg-color bg-white padd-top-2x padd-bottom-2x">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-md-12 text-center padd-bottom-md">
                            <h2 class="title">We've created a product that will your<br>
                            next project look even better.</h2>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <p class="color-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod</p>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <p class="color-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>