<section class="omg_component full-height contact-4">
  <div class="bg-img full-height" style="background-image:url('https://images.unsplash.com/photo-1453230645768-7ecb0653013d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=48d3a919723adf0bb64483dfa49973fd');">
    <div class="overlay">
      <div class="container full-height">
        <div class="v-align full-height">
          <div class="h-align ">
            <div class="inner padd-top-2x padd-bottom-2x text-center">

              <h1 class="color-white title">Get Along with the tribe.</h1>
              <p class="text-sm color-white ">
                Drive more leads to your business and make them customers. 
              </p>
              <form class="row padd-bottom-xs mailchimp padd-top-md"  action="http://us1.list-manage.com/subscribe/post?u=a0632cd90346d0712707d422e&amp;id=992c4932eb" method="post" target="_blank" >
                <div class="form-group col-md-3 col-md-offset-1 no-padding">
                  <input type="text" class="form-control input-field" name="FNAME" placeholder="Name"  id="mce-FNAME" >
                </div>
                <div class="form-group col-md-4 no-padding">
                  <input type="text" class="form-control input-field" placeholder="E-mail address" name="EMAIL" id="mce-EMAIL">
                </div>
                <div class="form-group col-md-3  no-padding">
                  <button type="submit" class="btn btn-block btn-lg btn-black">Subscribe</button>
                </div>
                <p class="form-group form-callback-message col-md-10 col-md-offset-1 no-padding padd-top-xs"></p>
              </form>
              <p class=" color-white">
                We are allergic to spam.
              </p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>