<section class="omg_component color-white ">
	<div class="content-46 bg-img" style="background-image:url('https://images.unsplash.com/photo-1445053023192-8d45cb66099d?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375');">
		<div class="overlay">
			<div class="container text-center padd-top-2x padd-bottom-2x">
				<div class="row">
					<div class="col-md-offset-2 col-md-8">
						<h1 class="title">
							To Achieve Awsomeness in the history of designing
						</h1>
						<p class="text-sm col-xs-8 col-xs-offset-2 padd-top-xs ">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.	
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>