<section class="omg_component content-3 full-height">
  <div class="bg-color bg-black00 full-height">
    <div class="col-md-6 bg-img full-height mobile-block" style="background-image:url('img/side1.jpg');"></div>
    <div class="col-md-6 full-height mobile-block text-center">
      <div class="v-align">
        <div class="h-align">
            <div class="inner">
                <h1 class="color-primary icon ion-ios-pie-outline"></h1>

                <h2 class="light-font uppercase color-primary">flexible components</h2>

                <p class="padd-top-xs padd-bottom-xs color-primary text-left text-xs ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim dipisicing elit, sed do eiusmod.</p><a class="btn btn-white-border">Go for it</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <section class="omg_component info full-height">
  <div class="bg-color bg-black-03 full-height">
            <div class="col-md-6 col-sm-5 image-block full-height mobile-block no-padding" style="background-image:url('img/side1.jpg');">
                <div class="overlay"></div>
            </div>

            <div class="col-md-6 col-sm-7 text-block  full-height mobile-block">
                <div class="v-align">
                    <div class="h-align">
                        <h1 class="icon ion-ios-pie-outline" style="font-style: italic"></h1>

                        <h2 class="title uppercase color-primary">flexible components</h2>

                        <p class="padd-top-xs padd-bottom-xs color-primary text-left text-xs ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim dipisicing elit, sed do eiusmod.</p><a class="btn btn-white-border">Go for it</a>
                    </div>
                </div>
            </div>
    </div>
</section> -->