<section class="omg_component content-31 ">
<div class="bg-white  bg-color padd-bottom-md">
  <div class="padd-top-lg padd-bottom-lg">
      <div class="inner text-center">
        <h2 class="title ">Documentation</h2>
        <p class="color-primary inner line-height">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess.
        </p>
      </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 padd-bottom-xs">
        <h6 class="hero-subtitle ">Simple</h6>
        <div class="hr hidden-xs"></div>
        <p class="color-primary">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore 
        </p>
      </div>
       <div class="col-md-4 padd-bottom-xs">
        <h6 class="hero-subtitle">Elegant</h6>
        <div class="hr hidden-xs"></div>
        <p class="color-primary">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna
        </p>
      </div>
       <div class="col-md-4 padd-bottom-xs">
        <h6 class="hero-subtitle">Modular</h6>
        <div class="hr hidden-xs"></div>
        <p class="color-primary">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna
        </p>
      </div>
    </div>
  </div>
 </div> 
</section>