<section  class="omg_component">
  <div class=" bg-img padd-top-2x padd-bottom-2x" style="background-image:url('https://images.unsplash.com/photo-1416424500327-a57ace7358b8?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375')">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class=" bg-white shadow-z1 clearfix  ">
              <div class="col-md-5 padd-top-md col-md-push-1 col-sm-6 col-sm-push-1">
                <h4 class="title uppercase">get in touch</h4>
                <p>St. Maorqet<br>Sabestian Park,<br>Niveda </p>
                <p>
                  <span class="bold">P:</span> +1060 60023 009
                <br>
                  <span class="bold">E:</span> Support@Assemblyline.in
                </p>
                <h4 class="title uppercase padd-top-xxs ">Office hours</h4>
                <p>Monday - Saturday<br>Morning: <b>10.00 AM - 4.00 PM</b></p>
                <p class="padd-bottom-xs">Sunday's<br>Morning: <b>12.00 AM - 2.00 PM</b></p>
              </div>
              <div class="col-md-6 no-padding height-vh75 col-md-push-1 padd-bottom-lg ">
                <div class="maps height-vh75" data-latitude="40.7454526" data-longitude="-73.9361703" data-zoom="12" ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
    </section>