
    <section class="omg_component content-12">
    <div class="bg-color bg-white">
        <div class="container padd-top-2x padd-bottom-2x">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="slideshow text-center dark-control">
                        <div class="slide"><img alt="image" src="img/p2.png"></div>
                        <div class="slide"><img alt="image" src="img/p0.png"></div>

                        <div class="slide"><img alt="image" src="img/p1.png"></div>

                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <h2 class="title">Buy & Sell</h2><i class="title"></i>

                    <div class="hr"></div>

                    <p class="color-primary text-md ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim veniam, quis nostrud exercitation ullamco.</p>

                    <p class="text-xs"><a class="icon ion-social-twitter" href="#"></a> <a class="icon ion-social-instagram-outline" href="#"></a></p>

                    <div class="">
                        <a class="btn btn-black btn-lg">only at $99</a>
                    </div>

                    <div class="padd-top-xs"></div>
                </div>
            </div>
        </div>
        </div>
    </section>