<section class="omg_component content-17 text-center height-50">
    <div class="col-md-4 bg-color bg-white full-height">
          <div class="v-align">
            <div class="h-align">
               <p class="hero-subtitle">passionate</p>
              <p class="title uppercase text-md">MAKE SOMETHING THAT<br>
YOU WILL LOVE </p>
              <p class="text-xs title  color-primary">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.
              </p>
            </div>
          </div>
    </div>
    <div class="col-md-4 full-height bg-img" style="background-image:url('img/tumblr_noq5g99tC21qfirfao1_1280.jpg');">
    </div>
    <div class="col-md-4 bg-color bg-white full-height">
          <div class="v-align">
            <div class="h-align">
               <p class="hero-subtitle">inspirational</p>
              <p class="title uppercase text-md">Assembly was build thoughtfully <br> to meet your needs</p>
              <p class="text-xs  title color-primary ">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.
              </p>
            </div>
          </div>
    </div>
</section>