<section class="omg_component color-white">
	<div class="content-47 bg-img parallax-content" style="background-image:url('img/DeathtoStock_Clementine5.jpg');">
		<div class="overlay container padd-top-2x padd-bottom-2x">
			<div class=" row v-align-flex">
				
				<div class="icon-border col-sm-2 hidden-xs text-center bg-white " >
					<i class="icon ion-cloud"></i>
				</div>
				<div class="col-sm-6">
					<h1 class="title">Save your projects. </h1>
					<p class="text-sm   text-justify">
						You can save the changes in project file so you can edit them whenever &
Wherever you want with smart editing options and lots more to explore.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>