<section class="omg_component content-3 full-height">
  <div class="bg-color bg-black-03 full-height">
    <div class="col-md-6 full-height mobile-block text-center">
      <div class="v-align">
        <div class="h-align">
          <div class="inner">
              <h2 class="light-font uppercase color-primary">Let the video presentation do the talk</h2>
          <div class="hr hr-20 m-auto"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 bg-img no-padding full-height mobile-block bg-img" style="background-image: url('img/DeathtoStock_Spring7.jpg');">
        <div class="overlay">
                    <div class="v-align">
                        <div class="h-align">
                            <a class="open_video open_lightbox" href="#demovideo">
                            <div class="video-icon" data-src="https://www.youtube.com/embed/AhOdPnA3rhs?autoplay=0&amp;rel=0&amp;wmode=opaque"></div></a>
                        </div>
                    </div>
                </div>
    </div>
  </div>
</section>