<section class="omg_component  content-91" >
    <div class=" bg-grey bg-color padd-top-2x padd-bottom-2x">
        <div class="container">
            <div class="row  v-align-flex">
               <div class="col-md-6">
                  <img alt="image" src="https://images.unsplash.com/photo-1448932252197-d19750584e56?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=700" class="shadow-z3">
               </div>
               <div class="col-md-6">
                    <div class="gutter">
                        <h3 class="title capitalize  ">
                           Assembly comes with 100 premade blocks for your next big idea
                        </h3>
                        <p class="color-primary  padd-bottom-xs line-height-4">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </p>
                        <a href="#" class="btn btn-black-border bold">Buy now</a>
                    </div>
               </div>
            </div>
        </div>
          
    </div>    
</section>