<section class="omg_component content-11">
	<div class="bg-color bg-grey">
		<div class="container">
			<div class="row">
				

				<div class="col-md-4 padd-top-md padd-bottom-md">
					<img alt="image" src="img/p1.png"  width="90%" class="img-responsive">
					<h4 class="hero-subtitle">
						intuitive process
					</h4>
					<p class="text-xs  ">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip.
					</p>
				</div>

				<div class="col-md-4 padd-top-md padd-bottom-md">
					<img alt="image" src="img/p2.png"  width="90%" class="img-responsive">
					<h4 class="hero-subtitle">
						Showcase Anything
					</h4>
					<p class="text-xs  ">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip.
					</p>
				</div>
				<div class="col-md-4 padd-top-md padd-bottom-md">
					<img alt="image" src="img/p0.png" width="90%" class="img-responsive">
					<h4 class="hero-subtitle">
						Powerful yet simple
					</h4>
					<p class="text-xs  ">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip.
					</p>
				</div>
				
			</div>
		</div>
	</div>
</section>