<section class="omg_component content-5">
  <div class="bg-color bg-grey">
    <div class="container padd-top-lg padd-bottom-lg text-center">
      <div class="row">
        <h2 class=" col-md-8 col-md-offset-2 title">Make a perfect product</h2>
      <p class="text-xs padd-bottom-xs  color-primary col-md-8 col-md-offset-2">
        Nullam a mi lacinia, pulvinar eros a, porttitor nulla. Proin tincidunt elementum nisi lacinia interdum. Morbi eu purus dignissim, auctor orci vitae, eleifend enim. Nullam a mi lacinia, pulvinar eros.
      </p>
      <div class="col-sm-4">
        <img alt="image" src="img/mac5.png" class="padd-top-xs img-responsive">
      </div>
      <div class="col-sm-4">
        <img alt="image" src="img/mac4.png" class=" padd-top-xs img-responsive">
      </div>
      <div class="col-sm-4">
        <img alt="image" src="img/mac3.png" class="padd-top-xs img-responsive">
      </div>
      </div>
  </div>
    
  </div>
</section>