<section class="omg_component contact-5 height380-responsive">
  <div class="bg-color bg-white height380-responsive">
    
      <div class="col-md-4 height380">
        <div class="v-align">
          <div class="h-align">
            <p class="hero-title">stay in touch</p>
            <p class="text-xs color-primary">
              Sign up for our newsletter to receive updates and excusive offers
            </p>
            <form class="padd-top-xs" action="#">
              <div class="form-group">
                <input type="text" class="form-control input-field" placeholder="Enter Email address" data-validate="email,required">
              </div>
              <div class="form-group">
                <button class="btn btn-black btn-lg btn-block" class="form-control" type="submit">Sign up</button>
              </div>
              <p class="form-group form-callback-message"></p>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-8 bg-img no-padding height380" style="background-image:url('img/DeathtoStock_Creative Community5.jpg')">
        <div class="overlay"></div>
      </div>
  </div>
</section>