
<section class="omg_component content-20">
<div class="">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 no-padding height-vh100">
         <div class="v-align bg-white">
                    <div class="h-align ">
                        <h1 class="title ">
                            We are assembly
                        </h1>
                        <p class=" color-primary padd-top-xs inner"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                    </div>
                </div>
        </div>

        <div class="col-md-6 height-vh100 no-padding overflow-hidden">
          <div class="instafeed" data-insta-username="awwwards" data-insta-length="20" 
            data-insta-wrapper="<div class='col-md-3 col-xs-6 no-padding'></div>">

                
            </div>
            <div class="absolute overlay">
                <div class="v-align">
                    <div class="h-align color-white">
                        <h1 class="title ">
                            #Ourfabteam
                        </h1>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
 </div>   
  </section>