<section class="omg_component color-white content-57 ">
	<div class="bg-color bg-black">
		<div class="container padd-top-lg padd-bottom-lg">
			<div class="v-align-flex">
				<div class="text-center">
					<h2 class="title">
						Give us a try.
					</h2>
					<p class="hero-subtitle padd-bottom-xs">
						We dont proclaim to be the best but we work hard to be the best.
					</p>
						<a href="#" class="btn btn-white-border m-left-10">
						see demo
					</a>
					
					<a href="#" class="btn btn-white-border m-left-10">
						Buy Now
					</a>
				</div>
			</div>
		</div>	
			 
	</div>
</section>