<section class="omg_component">
      <div class="container-fluid no-padding content-62-container">
       
         <div class="col-md-3 col-sm-4 text-center content-62 no-padding b-bottom border-grey b-right">
            
            <p class="font-playfair text-sm padd-bottom-xxs intro color-primary"><i>"Limited Edition"</i></p><div class="txt-placeholder">
              <a class="btn btn-black">
              Add To Cart</a>
            </div>
            <div class="v-align">
              <div class="h-align">
                  <img alt="image" src="img/shop/p7.png">
              </div>
            </div>
            
            <div class="text-title txt ">
              <div class=" omg-text uppercase letter-spacing-1 font-montserrat">Table Grill</div>
              <div class="bold  omg-text color-grey">$299</div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 text-center content-62 no-padding b-bottom border-grey b-right">
          
            <p class="font-playfair text-sm padd-bottom-xxs intro color-primary"><i>"Editor's Choice"</i></p><div class="txt-placeholder">
              <a class="btn btn-black">
              Add To Cart</a>
            </div>
            <div class="v-align">
              <div class="h-align">
                  <img alt="image" src="img/shop/p8.png">
              </div>
            </div>
            
            <div class="text-title txt ">
              <div class="text omg-text uppercase letter-spacing-1 font-montserrat">Soilded Garments</div>
              <div class="bold omg-text color-grey">$45</div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 text-center content-62 no-padding b-bottom border-grey b-right">
          
            <p class="font-playfair text-sm padd-bottom-xxs intro color-primary"><i>"Soon Out of Stock"</i></p><div class="txt-placeholder">
              <a class="btn btn-black">
              Add To Cart</a>
            </div>
            <div class="v-align">
              <div class="h-align">
                  <img alt="image" src="img/shop/p9.png">
              </div>
            </div>
            
            <div class="text-title txt ">
              <div class="text omg-text uppercase letter-spacing-1 font-montserrat">Pedestals</div>
              <div class="bold omg-text color-grey">$50</div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 text-center content-62 no-padding b-bottom border-grey b-right">
          
            <p class="font-playfair text-sm padd-bottom-xxs intro color-primary"><i>"Custom Build"</i></p><div class="txt-placeholder">
              <a class="btn btn-black">
              Add To Cart</a>
            </div>
            <div class="v-align">
              <div class="h-align">
                  <img alt="image" src="img/shop/p10.png">
              </div>
            </div>
            
            <div class="text-title txt ">
              <div class="text omg-text uppercase letter-spacing-1 font-montserrat">Abstract Vase</div>
              <div class="bold omg-text color-grey">$126</div>
            </div>
        </div>

      </div> 

   </section> 