
<section class="omg_component">
<div class="">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 no-padding height-vh100 bg-img" style="background-image:url('img/sidebg1.jpg')">
           
        </div>

        <div class="col-md-6 height-vh100 no-padding ">
            <div class="v-align bg-grey">
                    <div class="h-align h-left">
                    <div class=" inner">
                        <h1 class=" light-font">
                            About us
                        </h1>
                        <p class=" color-primary title padd-top-xs"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                        <div class="hr hr-20 hr-light "></div>
                        <p class=" color-primary padd-top-xs "><a href="mailto:assembly@assemblyline.in"> E: assembly@assemblyline.in </a></p>
                        <p class=" color-primary padd-bottom-md "> <a href="tel:0000000"> P: +022 2548 02431</a></p>
                    </div>
                    </div>
                </div>
      </div>
    </div>
 </div>   
  </section>
  </section>