<section class="omg_component content-51">
	<div class="bg-color bg-grey">
		<div class="container padd-top-lg padd-bottom-2x">
			<div class="row">
				<div class="col-md-6">
					<h3 class="title">
						<i class="icon icon ion-quote"></i><br/>
						You have managed to create a design the not only defies the Traditional design principles but is also Elegant.
					</h3>
					<div class="v-align-flex padd-top-xxs">
				      	<img alt="image" src="https://s3.amazonaws.com/uifaces/faces/twitter/derekebradley/128.jpg" class="img-circle">
				      	<div class="client text-left">
				      		<p class="  color-primary">FabTeam, Member of Themeforest</p>
				      	</div>
				      </div>
				</div>
				<div class="col-md-offset-1 col-md-5">
					<div class="v-align-flex padd-top-lg">
				      	<img alt="image" src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg" class="img-circle">
				      	<div class="client text-left">
				      		<p class="text-sm ">Awesome work! GLWS! </p>
				      		<p class="  color-primary">John Deo, founder at xyz.com</p>
				      	</div>
				      </div>
				      <div class="v-align-flex padd-top-md">
				      	<img alt="image" src="https://s3.amazonaws.com/uifaces/faces/twitter/celikovic/128.jpg" class="img-circle">
				      	<div class="client text-left">
				      		<p class="text-sm ">Creative and Clean Item, Congrats</p>
				      		<p class="  color-primary">John Deo, founder at xyz.com</p>
				      	</div>
				      </div>
				</div>
			</div>
		</div>
	</div>
</section>