<section class="omg_component">
<div class="container-fluid no-padding " >
   <div class=" instafeed" data-insta-username="deathtostock" data-insta-length="12 " 
          data-insta-wrapper="<div class='col-md-2 no-padding col-xs-2 '></div>">

              
    </div>
    <div class="overlay text-center color-white absolute">
      <div class="v-align">
        <div class="h-align">
          <a href="https://i.instagram.com/weddings/" target="_blank">
            <h1 class="title uppercase ">#Instagram</h1>
            <p class=" color-primary capitalize"><i class="icon ion-social-instagram-outline"></i>  catchup with us on instagram</p>
          </a>
        </div>
      </div>
    </div>

  </div>
</section>