<section class="omg_component content-10">
	<div class="bg-color bg-black">
		<div class="container padd-top-lg padd-bottom-lg">
			<div class="row text-center">
				<h1 class="title col-md-8 col-md-offset-2">
					Just Delivering Innovation
				</h1>
				<p class="text-sm  color-primary col-md-8 col-md-offset-2 padd-bottom-md">
				Simple and easy to use Builder Designed to make Websites in seconds. Awesome, Creative and Useful components fabricated with care. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Just take a look at it.
				</p>
				<div class="col-md-10 col-md-offset-1">
					<div class="embed-responsive embed-responsive-16by9">
	                	<iframe class="embed-responsive-item video_iframe" src="http://player.vimeo.com/video/129568172?title=0&byline=0&portrait=0" frameborder="0"></iframe>
	                </div>
				</div>
			</div>
		</div>
	</div>
</section>