<section class="omg_component content-61">
	<div class="bg-color bg-grey">
	
		<div class="container padd-top-2x padd-bottom-2x">
			<div class="row v-align-flex">
				<div class="col-sm-6">
					<h2 class="title uppercase letter-spacing-5 text-center">
							Brilliant Project
					</h2>
				</div>
				<div class="col-sm-6">
					<p class="text-right">
						<a href="#" class="hero-subtitle">
							home
						</a>
						<span class="seperator">/</span>
						<a href="#" class="hero-subtitle">
							works
						</a>
						<span class="seperator">/</span>
						<span class="hero-subtitle color-primary">
							Brilliant Project
						</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>