     <footer class="footer-9 omg_component b-bottom border-grey border-grey b-top bg-color">
      <div class="container ">
        
          <div class="col-md-4 ">
            <div class="footer-title font-montserrat omg-text">
             premium service
            </div>
            <p>We strive to make shopping a joyful experience for you and hence bring the best ever online sale on thousands of products assorted from more than 50 brands. Shop today!</p>
          </div>
           <div class="col-md-4 ">
            <div class="footer-title font-montserrat omg-text">
             trust we know what it means
            </div>
            <p>We extend services like free shippin across the nation, Free Return/Exchange, instant return option, quick refunds.</p>
          </div>
           <div class="col-md-4 ">
            <div class="footer-title font-montserrat omg-text">
             we accept all major cards
            </div>
            <p class="">
              <img alt="image" src="img/shop/payment-paypal.png?" class="inline">
              <img alt="image" src="img/shop/payment-visa.png?" class="inline">
              <img alt="image" src="img/shop/payment-mastercard.png?" class="inline">
              <img alt="image" src="img/shop/payment-americanexpress.png?" class="inline">
              
            </p>
          </div>
        
      </div>
    </footer>
    <footer class="footer-10 omg_component text-center bg-color">
        <div class="">
          <img alt="image" src="img/logob.png" height="30px" >
        </div>
        <p>COPYRIGHT © 2016 Assemblyline premium theme</p>
    </footer>
