<footer class="omg_component footer-3">
	<div class="bg-color bg-black">
		<div class="container padd-top-lg padd-bottom-lg text-center">
			<h4 class="light-font uppercase">
				Feel Free to contact us
			</h4>
			<p class="padd-bottom-xs color-primary">
				Call at <a href="tel://+919999999999">+91 999 999 9999</a> <span>|</span>
				Drop a mail at <a href="mailto://support@assemblyline.co">support@assemblyline.co</a>
			</p>
			<a href="#" class="btn btn-white-border">
				don't be a stranger
			</a>
		</div>
	</div>
</footer>