<footer class="omg_component footer-2 color-white">

  <div class="bg-color bg-black">
  <div class="container text-center padd-top-lg padd-bottom-lg">
    <p class="hero-subtitle padd-bottom-xs">about</p>
    <div class="row">
      <p class="col-md-4   color-primary">
        1047 SE Belmonte street <br/> portland, 97214 <br/> +1 999 999 9999
      </p>
      <p class="col-md-4   color-primary">
        Founded in 2019 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div class="col-md-4 social">
        <p>
          <a href="#" class="color-primary hero-subtitle"><i class="icon ion-social-twitter"></i>twitter</a>
        </p>
        <p>
          <a href="#" class="color-primary hero-subtitle"><i class="icon ion-social-facebook"></i>facebook</a>
        </p>
        <p>
          <a href="#" class="color-primary hero-subtitle"><i class="icon ion-social-instagram"></i>instagram</a>
        </p>
      </div>
    </div>
    </div>
  </div>
</footer>