<footer class="omg_component footer-6">
	<div class="bg-color bg-white">
		<div class="container padd-top-lg padd-bottom-lg">
			<p class="text-xs links text-center">
				<a href="#">privacy</a>
				<a href="#">terms</a>
				<a href="#">support</a>
				<a href="#">contact</a>
				<a href="#">Blog</a>
			</p>
			<p class="padd-top-xs padd-bottom-xs text-center social">
				<a href="#" class="icon ion-social-facebook"></a>
				<a href="#" class="icon ion-social-googleplus"></a>
				<a href="#" class="icon ion-social-instagram"></a>
				<a href="#" class="icon ion-social-twitter"></a>
			</p>
			<p class=" bold text-center uppercase">
				 &copy; 2015 All Rights Reserved
			</p>
		</div>
	</div>
</footer>