<footer class="omg_component footer-3">
	<div class="bg-color bg-black">
		<div class="container v-align-flex">
			
				<p class="col-md-6 padd-top-xs padd-bottom-xs color-primary text-xxs links bold">
					&copy; 2015 - All Right Reserved
					<a href="#">clients</a>
					<a href="#">Privacy</a>
					<a href="#">Legal</a>
				</p>
				<p class="col-md-6 text-xxs social text-right padd-top-xs padd-bottom-xs color-primary bold">
					get social with us on <a href="#">facebook</a>
					<a href="#">twitter</a>
					<a href="#">google</a>
				</p>
		</div>
	</div>
</footer>