<section class="omg_component footer-5">
        <div class="bg-color bg-white ">
            <div class="container padd-top-xs padd-bottom-lg">
                <div class="row">

                    <div class="col-md-3">
                        <h4 class="title  wow animated fadeIn">
						Categories
					</h4>
                        <p><a href="#">About us</a>
                        </p>
                        <p><a href="#">Team</a>
                        </p>
                        <p><a href="#">Contact</a>
                        </p>
                        <p><a href="#">Blog</a>
                        </p>
                        <p><a href="#">Career</a>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <h4 class=" title wow animated fadeIn">
						Privacy
					</h4>
                        <p><a href="#">Privacy Policy</a>
                        </p>
                        <p><a href="#">Cookie Policy</a>
                        </p>
                        <p><a href="#">Terms of Service</a>
                        </p>
                    </div>
                       <div class="col-md-3">
                        <h4 class="title  wow animated fadeIn">
                          Stay in touch
                        </h4>
                        <p class=" social text-sm  wow animated fadeIn">
                            <a href="#" class="icon ion-social-facebook ion-chevron-right"></a>
                            <a href="#" class="icon ion-social-googleplus ion-chevron-right"></a>
                            <a href="#" class="icon ion-social-instagram ion-chevron-right"></a>
                            <a href="#" class="icon ion-social-twitter ion-chevron-right"></a>
                        </p>
                    </div>
                    <div class="col-md-3  wow animated fadeIn">
                        <h4 class=" title ">
						Subscribe
					</h4>
                        <form class="form-inline ">
                            <div class="form-group col-md-10 col-xs-10 no-padding">
                                <input type="email" class=" wow animated fadeIn form-control" id="email" placeholder="john.doe@example.com">
                            </div>
                            <div class="col-md-2 col-xs-2 no-padding">
                                <button type="submit" class="btn  wow animated fadeIn btn-custom-footer4"><i class="icon ion-chevron-right"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                 
                </div>
            </div>
        </div>
    </section>