<footer class="omg_component footer-1">
	<div class="bg-color bg-white">
		<div class="container padd-top-lg padd-bottom-lg">
			<div class="row">
				<div class="col-md-6">
					<h5 class="hero-subtitle">
						We are Digital Agency
					</h5>
					<p class=" text-justify color-primary ">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
					<p class=" text-justify color-primary ">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
				</div>
				<div class="col-md-3 col-md-offset-1">
					<h5  class="hero-subtitle">
						Get in Touch
					</h5>
					<p class="color-primary padd-bottom-xs ">
						5A, Awsome Park, India. <br>
						Call at - +11 22 32457 <br>
						Email at - name@domail.com
					</p>
					<h5  class="hero-subtitle">
						Follow us on
					</h5>
					<p class="social">
						<a href="#" class="icon ion-social-facebook"></a>
						<a href="#" class="icon ion-social-googleplus"></a>
						<a href="#" class="icon ion-social-instagram"></a>
						<a href="#" class="icon ion-social-twitter"></a>
					</p>
				</div>
				<div class="col-md-2">
					<h5 class="hero-subtitle">
						Our Services
					</h5>
					<p class="color-primary "><a href="#">Web Designing</a></p>
					<p class="color-primary "><a href="#">IT Consultant</a></p>
					<p class="color-primary "><a href="#">SEO</a></p>
					<p class="color-primary "><a href="#">Logo Designing</a></p>
					<p class="color-primary "><a href="#">Brochure Designing</a></p>
				</div>
			</div>
		</div>
	</div>
</footer>