<footer class="omg_component footer-10">
  <div class="bg-color bg-white">
    <div class="container padd-top-md padd-bottom-md">
      <div class="row">
      <div class="col-md-4 padd-top-xs padd-bottom-xs text-center">
        <h5 class="hero-subtitle padd-bottom-xs">further information</h5>
        <p class="text-xs  ">
          New York <br/>
          +91 720 847 2333 <br/>
          <a href="mailto:info@domail.com">info@domain.com</a>
        </p>
        <p class="text-xs  ">
          Mumbai <br/>
          +91 9028631454 <br/>
          +91 720 847 2333 <br/>
          <a href="mailto:info@domail.com">info@domain.com</a> <br/>
        </p>
      </div>
      <div class="col-md-4 padd-top-xs padd-bottom-xs text-center">
        <h5 class="hero-subtitle padd-bottom-xs">Art - Design</h5>
        <p class="text-xs  ">
          Nellis AFB-Nellis AFB, NV  <br/>
          Renown Rehabilitation Hospital<br/>
          North Vista Hospital-North Las Vegas, NV<br/>
          CA - 400001
        </p>
      </div>
      <div class="col-md-4 padd-top-xs padd-bottom-xs text-center">
        <h5 class="hero-subtitle padd-bottom-xs">Office - global</h5>
         <p class="text-xs  ">
          880 Kempsville Road #2200  <br/>
          Norfolk, VA(Virginia) 23502<br/>
          (757) 466-6350  <br/>
          Mumbai <br/>
          400 001 <br/><br/>
          <a href="mailto:info@domail.com">info@domain.com </a> <br/>
          +91 720 847 2333 <br/>
        </p>
      </div>
    </div>
    </div>
  </div>
</footer>