<footer class="omg_component footer-8">
  <div class="bg-color bg-black">
    <div class="container-fluid padd-top-md padd-bottom-md">
      <div class="row v-align-flex ">
        <div class="col-md-2 visible-sm visible-xs">
          <img alt="image" src="img/logo.png" class="img_responsive center-block">
        </div>
        <div class="col-md-4 text-center">
          <div class="row">
          <div class="col-md-4  bottom">
            <a href="" class="title_small">about</a>
          </div>
          <div class="col-md-4  bottom">
          <a href="" class="title_small">advertise</a>
          </div>
          <div class="col-md-4  bottom">
          <a href="" class="title_small">press</a>
          </div>
          </div>
        </div>
        <div class="col-md-2 hidden-sm hidden-xs  bottom">
          <img alt="image" src="img/logo.png" class="img_responsive center-block">
        </div>
        <div class="col-md-4 text-center">
          <div class="row">
            <div class="col-md-4  bottom"><a href="" class="title_small">contact</a></div>
            <div class="col-md-4  bottom"><a href="" class="title_small">archive</a></div>
            <div class="col-md-4  bottom"><a href="" class="title_small">privacy</a></div>
          </div>
        </div>
      </div>
      <div class="row border_tb padd-top-xs v-align-flex text-center">
        <div class="col-md-1 no-padding">
          <a href="#" class="text-xxs uppercase  v-align-flex">
            <i class="icon ion-social-facebook"></i> facebook
          </a>
        </div>
        <div class="col-md-1  no-padding">
          <a href="#" class="text-xxs uppercase v-align-flex">
            <i class="icon ion-social-googleplus"></i> Google
          </a>
        </div>
        <div class="col-md-1 no-padding">
          <a href="#" class="text-xxs uppercase v-align-flex">
            <i class="icon ion-social-twitter"></i> twitter
          </a>
        </div>
        <div class="col-md-1 no-padding">
          <a href="#" class="text-xxs uppercase v-align-flex">
            <i class="icon ion-social-vimeo"></i> vimeo
          </a>
        </div>
        <div class="col-md-1 no-padding">
          <a href="#" class="text-xxs uppercase v-align-flex">
            <i class="icon ion-social-tumblr"></i> tumblr
          </a>
        </div>
        <div class="col-md-1 no-padding">
          <a href="#" class="text-xxs uppercase v-align-flex">
            <i class="icon ion-social-rss"></i> RSS feeds
          </a>
        </div>
      </div>
      <div class="row">
        <div class="title_small color-primary text-center bold padd-top-xs omg-text">&copy; 2015 Assemblyline</div>
      </div>
    </div>
  </div>
</footer>
