<footer class="omg_component footer-7">
	<div class="bg-color bg-black color-white">
		<div class="container padd-top-xs padd-bottom-lg">
			<div class="row capitalize xs-text-left">
				<div class="col-md-5 ">
					<h4 class="hero-subtitle padd-top-xs" >Creatively crafting future web</h4>
					<p class=" color-primary padd-top-xs">
						We've made product that will help startup to grow and we believe in it.
					</p>
					<p class="padd-bottom-xs color-primary social">
						<a href="#" class="icon ion-social-facebook"></a>
						<a href="#" class="icon ion-social-googleplus"></a>
						<a href="#" class="icon ion-social-instagram"></a>
						<a href="#" class="icon ion-social-twitter"></a>
					</p>
					<p class=" color-primary terms">
						<a href="#">Terms of Service</a>
						<a href="#">Special terms</a>
						<a href="#">Privacy Policy</a>
					</p>
				</div>
				<div class="col-md-2 col-md-offset-1">
					<h4 class="hero-subtitle padd-bottom-xs padd-top-xs">
						Categories
					</h4>
					<p class="color-primary"><a href="#">About us</a></p>
					<p class="color-primary"><a href="#">Team</a></p>
					<p class="color-primary"><a href="#">Contact</a></p>
					<p class="color-primary"><a href="#">Blog</a></p>
					<p class="color-primary"><a href="#">Career</a></p>
				</div>

				<div class="col-md-2 ">
					<h4 class="hero-subtitle padd-bottom-xs padd-top-xs">
						Quick Links
					</h4>
					<p class="color-primary"><a href="#">events</a></p>
					<p class="color-primary"><a href="#">Coming soon</a></p>
					<p class="color-primary"><a href="#">customer center</a></p>
				</div>
				<div class="col-md-2">
					<h4 class="hero-subtitle padd-bottom-xs padd-top-xs">
						Go for it
					</h4>
					<a href="#" class="btn btn-white-border btn-block">Buy App</a>
					
				</div>
			</div>
		</div>
	</div>
</footer>