<footer class="omg_component footer-4">
	<div class="bg-color bg-black">
		<div class="container v-align-flex ">
			
				<p class="col-md-5 hero-subtitle padd-top-xs padd-bottom-xs links color-primary">
					<a href="#">privacy</a>
					<a href="#">terms</a>
					<a href="#">support</a>
					<a href="#">contact</a>
					<a href="#">Blog</a>
				</p>
				<p class="col-md-5 title padd-top-xs padd-bottom-xs legal">
					Made with  <i class="icon ion-ios-heart"></i>  in Bombay
				</p>
				<p class="col-md-2 text-sm social text-right padd-top-xs padd-bottom-xs color-primary">
					<a href="#" class="icon ion-social-facebook"></a>
					<a href="#" class="icon ion-social-googleplus"></a>
					<a href="#" class="icon ion-social-instagram"></a>
					<a href="#" class="icon ion-social-twitter "></a>
				</p>
		</div>
	</div>
</footer>