<section class="omg_component header-10 full-height">
    <div class="bg-img parallax-content" style="background-image:url('https://images.unsplash.com/photo-1431071507071-9a7b32e96c17?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=d6b85a1bda4f52a758c6019cb11a4c52')">
        <div class="overlay">
            <div class="v-align">
                <div class="h-align">
                  <div class="header-card bg-white">
                    <div class="img-wrapper padd-top-xs padd-bottom-xs">
                      <img alt="image" src="img/user_uploads/logob.png" width="100px">
                    </div>
                          <p class="color-primary  padd-bottom-xs">
                            We are dedicated to perfecting the craft of developing effortless  Websites. Our builder is carefully curatiled to meet your demands,    fabricated in our Studio and finally delivered.

                          </p>

                          <div class=" padd-bottom-xs">
                          <a href="#" class="btn btn-black btn-pill ">
              Register <i class="icon ion-ios-arrow-thin-right"></i>
            </a>
            </div>     <a href="#"><i class="icon ion-social-twitter"></i></a>
                   </div>   
                </div>
            </div>
         </div>   
    </div>
</section>