<section class="omg_component header-9 full-height">
    <div class="bg-img parallax-content" style="background-image:url('https://images.unsplash.com/photo-1418201591173-d01e7b1d6651?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375')">
        <div class="overlay">
            <div class="v-align">
                <div class="h-align">
                  <div class="header-card-img bg-white">
                          <img alt="image" src="img/user_uploads/mock-up_2.png" >
                   </div>   
                </div>
            </div>
         </div>   
    </div>
</section>