<section class="omg_component header-5">
	<div class="bg-color bg-black" >
		
			<div class="container">
				<div class="row padd-top-2x">
					<div class="inner text-center padd-top-xs">
						<h1 class="title">
							Make App landing page instantly with Assembly.
						</h1>
						<p class="hero-subtitle  padd-top-xs padd-bottom-xs">
							Now available on Google Play and Itunes Store<br>
							
						</p>
						<a href="#" class="btn btn-white-border">
									Download Now
								</a>
						<div class="">
							<img alt="image" src="img/iphone1.png">
								<!--  -->
							
						</div>
					</div>
					
				</div>
			</div>
		
	</div>
</section>