 <section class="full-height omg_component">
        <div class="slideshow hide-dots dark-control full-height" >
            <div class="slide full-height">
                <div class="full-height overflow-hidden bg-img" style="background-image:url('https://images.unsplash.com/photo-1454391129723-a11d68a3a263?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375')">
                    
                </div>
            </div>
            <!-- end slide -->
            <div class="slide full-height">
                <div class="full-height overflow-hidden bg-img" style="background-image:url('https://images.unsplash.com/photo-1454328911520-ccf83f1ef41d?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375')">
                    
                </div>
            </div>
            <!-- end slide -->
           

        </div>
        <!-- end slideshow -->
        <div class="absolute-bottom-0 bg-white z-5 bg-color" >
                            <div class="container-fluid padd-top-xxs padd-bottom-xxs v-align-flex-column">
                                <div class="col-md-2">
                                    <a href="index.php"><img alt="image" src="img/logob.png" height="30px"></a>
                                </div>
                                <div class="col-md-8 text-center ">
                                    <h4 class="title letter-spacing-2 uppercase">Danny lavatks</h4>
                                </div>
                                <div class="col-md-2 text-lg text-right">
                                    <a class="icon ion-social-facebook" href="#"></a>
                                            <a class="icon m-left-10 ion-social-twitter" href="#"></a>
                                            <a class="icon m-left-10 ion-social-instagram-outline" href="#"></a>
                                            <a class="icon m-left-10 ion-social-pinterset" href="#"></a>
                                </div>
                            </div>
                        </div>
    </section>