<section class="omg_component header-12 full-height">
	<div class="slideshow">
		<div class="slide">
			<div class="bg-img full-height  parallax-content" style="background-image: url('https://images.unsplash.com/photo-1445052693476-5134dfe40f70?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375');">
				<div class="overlay color-white full-height">
					<div class="container full-height">
						<div class="v-align full-height">
							<div class="h-align">
								<div class="col-md-4 bg-black-03 text-center pull-right">
									<h4 class="title">Start building site instantly.</h4>
									<p class="hero-subtitle  ">
										On-demand Development
									</p>
									<p class="text-xs">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation -images by Unsplash
								</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
