<section class="omg_component header-1 full-height color-white">
  <div class="slideshow full-height">
    <div class="slide full-height">
      <div class="full-height bg-img parallax-content" style="background-image:url('https://images.unsplash.com/photo-1456298964505-ef9e1a638209?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=8575718800e99c71f4ce9e7025e405ba');">
        <div class="overlay">
        <div class=" v-align">
          <div class="h-align padd-top-lg padd-bottom-lg text-center">
             <div class="inner">
             
            <p class="hero-subtitle ">
               UNLEASH POSSIBILITIES
             </p>
            <img alt="image" src="img/against.png" class="center-block img-responsive">
            <div class="padd-top-xs padd-bottom-xs">
              <a href="#" class="btn btn-black btn-pill">
                explore <i class="icon ion-ios-arrow-thin-right"></i>
              </a>

            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>