  <section class="omg_component header-7 full-height">
    
        <div class="v-align bg-img parallax-content color-white " style="background-image: url('https://images.unsplash.com/photo-1416424500327-a57ace7358b8?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375');">
          <div class="h-align overlay">
                <div class="container">
                    <h1 class="title letter-spacing-4 thin uppercase"> uncharted </h1>
                </div>
                <div class="scrolldown">
                  <div class="container">
                      <a href="#" class=""><i class="icon ion-ios-arrow-down"></i></a>
                  </div>
                </div>
          </div>
        </div>
    
    
  </section>
