

<section class="omg_component header-6 full-height color-white">
	<div class="slideshow hide-dots full-height">
		<div class="slide full-height">
			<div class="full-height bg-img parallax-content" style="background-image:url('https://images.unsplash.com/photo-1455758353555-571ff3604890?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375')">
				<div class="container overlay v-align full-height" style="background-color: rgba(0, 0, 0, 0.309804);">
					<div class="h-align">
						<h1 class="big title uppercase letter-spacing-3">Elizabeth Burns</h1>

						<div class="absolute-bottom-0">
							<a class="btn btn-white-border" href="#">explore Photos</a>

							<div class="text-sm text-center padd-top-xs padd-bottom-xs">
								 <a class="icon m-left-10 m-right-10 ion-social-facebook" href="#"></a>
								 <a class="icon m-left-10 m-right-10 ion-social-googleplus" href="#"></a>
								 <a class="icon m-left-10 m-right-10 ion-social-dribbble-outline" href="#"></a>
								 <a class="icon m-left-10 m-right-10 ion-social-skype" href="#"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


