<section class="omg_component header-8 full-height">
  <div class="bg-color bg-black full-height">
    <div class="v-align">
      <div class="h-align h-left">
        <div class="gutter">
          <div class="inner text-center">
            <div class="padd-bottom-md"><img alt="image" src="img/logo.png" width="100px"></div>

            <h1 class="title thin letter-spacing-3 uppercase">Everyone Needs a Flawless<br>
            design workspace.</h1>

            <p class="hero-subtitle color-primary padd-bottom-lg">For everyone</p>

            <div class="video-icon-border text-center">
              <a class="open_video open_lightbox" href="#demovideo">
                <i class="icon ion-ios-play" data-src="https://www.youtube.com/watch?v=0uaquGZKx_0"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>