<section class=" omg_component header-15 full-height">
    
        <div class="v-align parallax-content bg-img color-white full-height" style="background-image: url('https://images.unsplash.com/photo-1456426531648-850ec2f5a462?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375');">
          <div class="h-align overlay">
                <div class="container padd-top-xs padd-bottom-xs">
                        <h1 class="title big2x uppercase letter-spacing-6">legendary.house  </h1>
                        <p class="text-md line-height-4">
                          We are an Award winning digital product agency, a multidisciplinary network of design consultants<br>delivering design solutions, innovations and awesomeness globally.
                        </p>
                       <div >
                       <a href="#demovideo" class="open_video open_lightbox" >
                            <img  alt="image" src="img/play_white.svg" height="80" data-src="https://www.youtube.com/watch?v=0uaquGZKx_0">
                            
                        </a>    
                        </div>
                      
                    
                </div>
              
          </div>
        </div>
</section>
