<section class="omg_component header-17 color-white full-height">
	<div class="slideshow full-height">
    <div class="slide full-height">
	<div class="bg-img full-height  parallax-content" style="background-image:url('https://images.unsplash.com/photo-1455758291714-9b41742ef96b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=1228993bd345f1098e8e5ccf8cedd0e9');">
		<div class="container overlay v-align full-height">
			<div class="h-align">
				<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<h1 class="text-center title letter-spacing-4">
						Build Beautiful.Be Bold
					</h1>
					<p class="text-xs text-center  hero-subtitle ">
						most powerful toolkit
					</p>
					<p class="text-sm  text-center ">
						Whether you want to create a portfolio website, blog, business website or all of the above, you can express your idea with a website powered by our elegant yet intuitive platform.
					</p>
				</div>
			</div>
			</div>
		</div>
	</div>
	</div>
	</div>
</section>