<section class="omg_component header-13 full-height">
	<div class="slideshow">
		<div class="slide">
			<div class="bg-img full-height parallax-content" style="background-image: url('https://images.unsplash.com/photo-1449198063792-7d754d6f3c80?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375');">
				<div class="overlay color-white full-height">
					<div class="container full-height padd-top-lg padd-bottom-lg">
						<div class="v-align">
							<div class="h-align">
								<h1 class="big title bold">Stunning Experiences</h1>
								<div class="absolute text-center">
									<p class="text-sm ">
										Won one more award.    <a href="#" class="btn btn-white-border">
											take a look
										</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>