<section class="omg_component header-11 full-height">
    <div class="bg-img  parallax-content" style="background-image:url('https://images.unsplash.com/photo-1453614512568-c4024d13c247?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375')">
        <div class="overlay">
            <div class="v-align">
                <div class="h-align">
                  <div class="border-card color-white">
                    <div class="img-wrapper">
                      <img alt="image" src="img/user_uploads/event.png" width="200px">
                    </div>
                    
                          <div class=" padd-bottom-xs padd-top-xs">
                          <a href="#" class="btn btn-white-border  ">
                              MAY 28<sup>th</sup> Cityhall
                            </a>
                          </div>
                          <p class="title padd-bottom-xs uppercase">
                            newyork '16
                            
                          </p>
                   </div>
                  
                </div>
            </div>
            <div class="text-lg absolute-bottom text-center color-white">
                    <a href="#"><i class="icon m-left-10 ion-social-twitter"></i></a> 
                    <a href="#"><i class="icon m-left-10 ion-social-instagram-outline"></i></a> 
            </div>
         </div>   
    </div>
</section>