<section class="omg_component header-4 full-height">
  <div class="slideshow full-height">
    <div class="slide full-height">
      <div class="full-height bg-img parallax-content" style="background-image:url('https://images.unsplash.com/photo-1429554513019-6c61c19ffb7e?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375' );">
        <div class="overlay color-white full-height">
          <div class="container v-align text-center">
            <div class="h-align">
              <h1 class="title big bold">Great & Simple.</h1>

              <p class="hero-subtitle color-primary">Crafting Perfection in Design</p>

              <div class="padd-top-xs">
                <a class="btn btn-black btn-pill" href="#">Purchase Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>