
<section class="omg_component header-3 color-white full-height">
	<div class="slideshow full-height">
		<div class="slide full-height">
			<div class="bg-img full-height parallax-content" style="background-image:url('https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375');" >
				<div class="overlay full-height">
					<div class="container full-height">
						<div class="v-align">
							<div class="h-align">
								<div class="padd-top-xs padd-bottom-xs text-left">
									<p class="hero-subtitle">Crafting perfection</p>

									<h1 class="big title padd-bottom-xs">Meeting Impossible<br>
									Deadlines.</h1>

									<div class="video-icon-border text-center">
										<a class="open_video open_lightbox " href="#demovideo" style="font-style: italic">
											<i class="icon ion-ios-play" data-src="https://www.youtube.com/watch?v=0uaquGZKx_0"></i>
										</a>
									</div><span class="hero-subtitle m-left-10">play reel</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>