
 <nav class="cntrl-nav navbar omg_component nav-light bg-white ">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->

      <div class="navbar-header">
        <a class="navbar-toggle collapsed icon ion-navicon nav-collapse-icon" data-target="#mainmenu" data-toggle="collapse"></a> <a class="navbar-brand" href="index.html"><img alt="image" class=
        "img-responsive" src="img/logob.png"></a>
      </div><!-- Collect the nav links, forms, and other content for toggling -->

      <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="nav navbar-nav navbar-right">
         
          <li>
            <a href="#">Link</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>