 <section class="omg_component pricetable-1">
        <div class="bg-black bg-color">
            <div class="container padd-top-lg padd-bottom-lg">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-center">
                            <h6 class="hero-subtitle">basic</h6>

                            <h2 class="icon ion-ios-bolt-outline"></h2>

                            <h2 class="font-montserrat">$16 <sup><small class="hero-subtitle color-primary">/month</small></sup></h2>

                            <div class="hr"></div>

                            <p class="padd-top-xs padd-bottom-xs  color-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore</p>

                            <div>
                                <a class="btn btn-white-border">SignUp</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="text-center">
                            <h6 class="hero-subtitle">ADVANCED</h6>

                            <h2 class="icon ion-ios-flask-outline"></h2>

                            <h2 class="font-montserrat">$24 <sup><small class="hero-subtitle color-primary">/month</small></sup></h2>

                            <div class="hr"></div>

                            <p class="padd-top-xs padd-bottom-xs  color-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore</p>

                            <div>
                                <a class="btn btn-white-border">SignUp</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="text-center">
                            <h6 class="hero-subtitle">BUSINESS</h6>

                            <h2 class="icon ion-ios-infinite-outline"></h2>

                            <h2 class="font-montserrat">$49 <sup><small class="hero-subtitle color-primary">/month</small></sup></h2>

                            <div class="hr"></div>

                            <p class="padd-top-xs padd-bottom-xs  color-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore</p>

                            <div>
                                <a class="btn btn-white-border">SignUp</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
