<section class="omg_component bg-white">
	<div class="container">

		<div class="row pricetable-3">
                <div class="col-md-12 text-center padd-top-md padd-bottom-xs">
                    <h2 class="title">Price Tables</h2>
                </div>
			<div class="col-md-4 padd-top-xs padd-bottom-xs">
				<div class="price-item bg-color">
				     <h3 class="title">Freelancer</h3>
                    <div class="price-value omg-text"><span class="price-currency">$</span>9.90</div>
                    <p class="price-desc">Perfect for single freelancers who work by themselves</p>
                    <ul class="price-feature color-grey omg-text line-height-6">
                        <li>Support forum</li>
                        <li>Free hosting</li>
                        <li>40MB of storage space</li>
                    </ul>
                    <button class="btn btn-black btn-pill btn-lg btn-block" >Choose plan</button>
                 </div>
    		</div>
    		<div class="col-md-4 padd-top-xs padd-bottom-xs">
				<div class="price-item bg-color">
				     <h3 class="title">Small Team</h3>
                    <div class="price-value omg-text"><span class="price-currency">$</span>49.90</div>
                    <p class="price-desc">Perfect for single freelancers who work by themselves</p>
                    <ul class="price-feature color-grey omg-text line-height-6">
                        <li>Support forum</li>
                        <li>Free hosting</li>
                        <li>40MB of storage space</li>
                    </ul>
                    <button class="btn btn-black btn-pill btn-lg btn-block" >Choose plan</button>
                 </div>
    		</div>
    		<div class="col-md-4 padd-top-xs padd-bottom-xs">
				<div class="price-item bg-color">
				     <h3 class="title">Organization</h3>
                    <div class="price-value omg-text"><span class="price-currency">$</span>99.90</div>
                    <p class="price-desc">Perfect for single freelancers who work by themselves</p>
                    <ul class="price-feature color-grey omg-text line-height-6">
                        <li>Support forum</li>
                        <li>Free hosting</li>
                        <li>40MB of storage space</li>
                    </ul>
                    <button class="btn btn-black btn-pill btn-lg btn-block" >Choose plan</button>
                 </div>
    		</div>

			
		</div>
	</div>
</section>
