  <section class="omg_component project-1">
   
      <div class="masonry-container">
        <!-- <begin masonry-container container> -->

        <div class="masonry_item col-md-4 col-sm-4">
          <div class="placeholder">
            <img alt="image" src="https://images.unsplash.com/photo-1456587349840-30f5d8581fc8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=500&fit=max&s=9f7fd1a21f2561cbc9eb6eedf2852fc9">

            <div class="txt-placeholder overlay">
              <div class="v-align">
                <div class="h-align">
                  <p class="hero-subtitle color-primary">subtitle</p>

                  <p class="hero-title">Showcase</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="masonry_item col-md-4 col-sm-4">
          <div class="placeholder">
            <img alt="image" src="https://images.unsplash.com/photo-1456613820599-bfe244172af5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=500&fit=max&s=cfb55390b748501d9559a781c4b99e9b">

            <div class="txt-placeholder overlay">
              <div class="v-align">
                <div class="h-align">
                  <p class="hero-subtitle color-primary">subtitle</p>

                  <p class="hero-title">Showcase</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="masonry_item col-md-4 col-sm-4">
          <div class="placeholder">
            <img alt="image" src="https://images.unsplash.com/photo-1456689337957-34d689850f36?crop=entropy&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=300">

            <div class="txt-placeholder overlay">
              <div class="v-align">
                <div class="h-align">
                  <p class="hero-subtitle color-primary">subtitle</p>

                  <p class="hero-title">Showcase</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="masonry_item col-md-4 col-sm-4">
          <div class="placeholder">
            <img alt="image" src="https://images.unsplash.com/photo-1456741649932-d3fa2403340e?crop=entropy&fit=crop&fm=jpg&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1200">

            <div class="txt-placeholder overlay">
              <div class="v-align">
                <div class="h-align">
                  <p class="hero-subtitle color-primary">subtitle</p>

                  <p class="hero-title">Showcase</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="masonry_item col-md-4 col-sm-4">
          <div class="placeholder">
            <img alt="image" src="https://images.unsplash.com/photo-1456858060761-fd3f80c5aca0?crop=entropy&fit=crop&fm=jpg&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1200">

            <div class="txt-placeholder overlay">
              <div class="v-align">
                <div class="h-align">
                  <p class="hero-subtitle color-primary">subtitle</p>

                  <p class="hero-title">Showcase</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="masonry_item col-md-4 col-sm-4">
          <div class="placeholder">
            <img alt="image" src="https://images.unsplash.com/photo-1457040931721-53ca161dab33?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=500&fit=max&s=68e199ec0405639a9cfe5d73f7d7ea81">

            <div class="txt-placeholder overlay">
              <div class="v-align">
                <div class="h-align">
                  <p class="hero-subtitle color-primary">subtitle</p>

                  <p class="hero-title">Showcase</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="masonry_item col-md-4 col-sm-4">
          <div class="placeholder">
            <img alt="image" src="https://images.unsplash.com/photo-1456725203480-0be828fcd7ae?crop=entropy&fit=crop&fm=jpg&h=275&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=500">

            <div class="txt-placeholder overlay">
              <div class="v-align">
                <div class="h-align">
                  <p class="hero-subtitle color-primary">subtitle</p>

                  <p class="hero-title">Showcase</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="masonry_item col-md-4 col-sm-4">
          <div class="placeholder">
            <img alt="image" src="https://images.unsplash.com/photo-1457038770541-b6a1afae40f2?crop=entropy&fit=crop&fm=jpg&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=500">

            <div class="txt-placeholder overlay">
              <div class="v-align">
                <div class="h-align">
                  <p class="hero-subtitle color-primary">subtitle</p>

                  <p class="hero-title">Showcase</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
<!-- <end masonry-container container> -->
  
  </section>