<section class="omg_component project-1">
  
      <div class=" masonry-container">
          <!-- <begin masonry-container container> -->
               <div class="masonry_item col-md-6  col-sm-6" >
    <div class="placeholder">

            <img alt="image" src="img/works/10.jpg">
        
        <div class="txt-placeholder overlay">
            <div class="v-align">
              <div class="h-align">
                <p class="hero-subtitle color-primary">subtitle</p>
                <p class="hero-title">Showcase</p>
              </div>
            </div>

        </div>
    </div>
  </div>
   <div class="masonry_item col-md-6  col-sm-6" >
    <div class="placeholder">

            <img alt="image" src="img/works/05.jpg">
        
        <div class="txt-placeholder overlay">
            <div class="v-align">
              <div class="h-align">
               <p class="hero-subtitle color-primary">subtitle</p>
                <p class="hero-title">Showcase</p>
              </div>
            </div>

        </div>
    </div>
  </div> <div class="masonry_item col-md-6  col-sm-6" >
    <div class="placeholder">

            <img alt="image" src="img/works/07.jpg">
        
        <div class="txt-placeholder overlay">
            <div class="v-align">
              <div class="h-align">
                <p class="hero-subtitle color-primary">subtitle</p>
                <p class="hero-title">Showcase</p>
              </div>
            </div>

        </div>
    </div>
  </div> <div class="masonry_item col-md-6  col-sm-6" >
    <div class="placeholder">

            <img alt="image" src="img/works/11.jpg">
        
        <div class="txt-placeholder overlay">
            <div class="v-align">
              <div class="h-align">
                <p class="hero-subtitle color-primary">subtitle</p>
                <p class="hero-title">Showcase</p>
              </div>
            </div>

        </div>
    </div>
  </div> <div class="masonry_item col-md-6  col-sm-6" >
    <div class="placeholder">

            <img alt="image" src="img/works/12.jpg">
        
        <div class="txt-placeholder overlay">
            <div class="v-align">
              <div class="h-align">
                 <p class="hero-subtitle color-primary">subtitle</p>
                <p class="hero-title">Showcase</p>
              </div>
            </div>

        </div>
    </div>
  </div>
   <div class="masonry_item col-md-6  col-sm-6" >
    <div class="placeholder">

            <img alt="image" src="img/works/13.jpg">
        
        <div class="txt-placeholder overlay">
            <div class="v-align">
              <div class="h-align">
                 <p class="hero-subtitle color-primary">subtitle</p>
                <p class="hero-title">Showcase</p>
              </div>
            </div>

        </div>
    </div>
  </div>
          <!-- <end masonry-container container> -->
      </div>


</section>