    <section class="omg_component project-2">
        <div class="  bg-grey bg-color ">
        <div class="container text-center padd-bottom-md padd-top-md">
            <h2 class="title uppercase letter-spacing-3">3 columns</h2>
            <h6 class="color-primary uppercase">the masonry grid.</h6>
            <div class="hr m-auto"></div>
        </div>
            <div class="  masonry-container">
                <div class="col-sm-4 masonry_item">
                            <div class="placeholder">
                                <img alt="image" src="img/works/10.jpg">
                                    <div class="txt-placeholder overlay">
                                        <div class="v-align">
                                          <div class="h-align">
                                            <h4 class="title ">project</h4><div class="hr m-auto"></div><h6 class="color-primary uppercase">category.</h6>
                                          </div>
                                        </div>

                                    </div>
                            </div>
                </div><!-- ends masonry_item -->
                 <div class="col-sm-4 masonry_item">
                            <div class="placeholder">
                                <img alt="image" src="img/works/01.jpg">
                                    <div class="txt-placeholder overlay">
                                        <div class="v-align">
                                          <div class="h-align">
                                            <h4 class="title">project</h4><div class="hr m-auto"></div><h6 class="color-primary uppercase">category.</h6>
                                          </div>
                                        </div>

                                    </div>
                            </div>
                </div><!-- ends masonry_item -->

                 <div class="col-sm-4 masonry_item">
                            <div class="placeholder">
                                <img alt="image" src="img/works/04.jpg">
                                    <div class="txt-placeholder overlay">
                                        <div class="v-align">
                                          <div class="h-align">
                                            <h4 class="title">project</h4><div class="hr m-auto"></div><h6 class="color-primary uppercase">category.</h6>
                                          </div>
                                        </div>

                                    </div>
                            </div>
                </div><!-- ends masonry_item -->
 <div class="col-sm-4 masonry_item">
                            <div class="placeholder">
                                <img alt="image" src="img/works/13.jpg">
                                    <div class="txt-placeholder overlay">
                                        <div class="v-align">
                                          <div class="h-align">
                                            <h4 class="title">project</h4><div class="hr m-auto"></div><h6 class="color-primary uppercase">category.</h6>
                                          </div>
                                        </div>

                                    </div>
                            </div>
                </div><!-- ends masonry_item -->
                
                 <div class="col-sm-4 masonry_item">
                            <div class="placeholder">
                                <img alt="image" src="img/works/03.jpg">
                                    <div class="txt-placeholder overlay">
                                        <div class="v-align">
                                          <div class="h-align">
                                            <h4 class="title">project</h4><div class="hr m-auto"></div><h6 class="color-primary uppercase">category.</h6>
                                          </div>
                                        </div>

                                    </div>
                            </div>
                </div><!-- ends masonry_item -->
                 <div class="col-sm-4 masonry_item">
                            <div class="placeholder">
                                <img alt="image" src="img/works/08.jpg">
                                    <div class="txt-placeholder overlay">
                                        <div class="v-align">
                                          <div class="h-align">
                                            <h4 class="title">project</h4><div class="hr m-auto"></div><h6 class="color-primary uppercase">category.</h6>
                                          </div>
                                        </div>

                                    </div>
                            </div>
                </div><!-- ends masonry_item -->
              <div class="col-sm-4 masonry_item">
                            <div class="placeholder">
                                <img alt="image" src="img/works/09.jpg">
                                    <div class="txt-placeholder overlay">
                                        <div class="v-align">
                                          <div class="h-align">
                                            <h4 class="title">project</h4><div class="hr m-auto"></div><h6 class="color-primary uppercase">category.</h6>
                                          </div>
                                        </div>

                                    </div>
                            </div>
                </div><!-- ends masonry_item -->
                <div class="col-sm-4 masonry_item">
                            <div class="placeholder">
                                <img alt="image" src="img/works/06.jpg">
                                    <div class="txt-placeholder overlay">
                                        <div class="v-align">
                                          <div class="h-align">
                                            <h4 class="title">project</h4><div class="hr m-auto"></div><h6 class="color-primary uppercase">category.</h6>
                                          </div>
                                        </div>

                                    </div>
                            </div>
                </div><!-- ends masonry_item -->
              <div class="col-sm-4 masonry_item">
                            <div class="placeholder">
                                <img alt="image" src="img/works/11.jpg">
                                    <div class="txt-placeholder overlay">
                                        <div class="v-align">
                                          <div class="h-align">
                                            <h4 class="title">project</h4><div class="hr m-auto"></div><h6 class="color-primary uppercase">category.</h6>
                                          </div>
                                        </div>

                                    </div>
                            </div>
                </div><!-- ends masonry_item -->
            </div>
        </div>
    </section>