<section class="omg_component team-2">
	<div class="bg-color bg-white">
	<div class="container padd-top-lg padd-bottom-lg">
		<h1 class="text-center title">Meet our Team</h1>
        <p class="text-sm text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. elementum eu neque.
        </p>
		<div class="row padd-top-lg">
			<div class="col-md-3 padd-bottom-md padd-top-lg text-center">
				<div class="wrapper">
					<img alt="image" class="image_wrapper" src="img/team1.png">
					<p class="padd-top-xs hero-subtitle">
						Scarlett Williams
					</p>
					<p class="text-xs   color-primary uppercase">
						Ceo
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.
					</p>
					<p class="text-sm padd-top-xs padd-bottom-xs">
						<a href="#" class="icon ion-social-facebook"></a>
						<a href="#" class="icon ion-social-twitter"></a>
	                    <a href="#" class="icon ion-social-googleplus"></a>
	                    <a href="#" class="icon ion-social-dribbble-outline"></a>
	                    <a href="#" class="icon ion-social-instagram-outline"></a>
					</p>
				</div>
			</div>

			<div class="col-md-3 padd-bottom-md padd-top-lg text-center">
				<div class="wrapper">
					<img alt="image" class="image_wrapper" src="img/team2.png">
					<p class="padd-top-xs hero-subtitle">
						Richard Monqeru
					</p>
					<p class="text-xs   color-primary uppercase">
						Manager
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.
					</p>
					<p class="text-sm padd-top-xs padd-bottom-xs">
						<a href="#" class="icon ion-social-facebook"></a>
						<a href="#" class="icon ion-social-twitter"></a>
	                    <a href="#" class="icon ion-social-googleplus"></a>
	                    <a href="#" class="icon ion-social-dribbble-outline"></a>
	                    <a href="#" class="icon ion-social-instagram-outline"></a>
					</p>
				</div>
			</div>
			<div class="col-md-3 padd-bottom-md padd-top-lg text-center">
				<div class="wrapper">
					<img alt="image" class="image_wrapper" src="img/team3.png">
					<p class="padd-top-xs hero-subtitle">
						Oliver Wild 
					</p>
					<p class="text-xs   color-primary uppercase">
						Media Guru
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.
					</p>
					<p class="text-sm padd-top-xs padd-bottom-xs">
						<a href="#" class="icon ion-social-facebook"></a>
						<a href="#" class="icon ion-social-twitter"></a>
	                    <a href="#" class="icon ion-social-googleplus"></a>
	                    <a href="#" class="icon ion-social-dribbble-outline"></a>
	                    <a href="#" class="icon ion-social-instagram-outline"></a>
					</p>
				</div>
			</div>
			<div class="col-md-3 padd-bottom-md padd-top-lg text-center">
				<div class="wrapper">
					<img alt="image" class="image_wrapper" src="img/team4.png">
					<p class="padd-top-xs hero-subtitle">
						Jammie Sun
					</p>
					<p class="text-xs   color-primary uppercase">
						Intern
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.
					</p>
					<p class="text-sm padd-top-xs padd-bottom-xs">
						<a href="#" class="icon ion-social-facebook"></a>
						<a href="#" class="icon ion-social-twitter"></a>
	                    <a href="#" class="icon ion-social-googleplus"></a>
	                    <a href="#" class="icon ion-social-dribbble-outline"></a>
	                    <a href="#" class="icon ion-social-instagram-outline"></a>
					</p>
				</div>
			</div>		</div>
	</div>	
	</div>
	
</section>