<section class="omg_component team-3">
	<div class="bg-color bg-white">
		<div class="container padd-top-2x padd-bottom-2x">
			<div class="row">
				<div class="col-md-4 padd-top-xs">
					<div class="padd-top-2x padd-bottom-3x bg-img" style="background-image:url('img/t1.jpg')"></div>
					<h6 class="hero-subtitle ">
						Joe Labranth
					</h6>
					<p class="title uppercase letter-spacing-1 color-primary">creative director</p>
					<p class="color-primary">
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
					</p>
				</div>


				<div class="col-md-4 padd-top-xs">
					<div class="padd-top-2x padd-bottom-3x bg-img" style="background-image:url('img/t2.jpg')"></div>
					<h6 class="hero-subtitle ">
						Jhon Macroni
					</h6>
					<p class="title uppercase letter-spacing-1 color-primary">The Hacker</p>
					<p class="color-primary">
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
					</p>
				</div>

				<div class="col-md-4 padd-top-xs">
					<div class="padd-top-2x padd-bottom-3x bg-img" style="background-image:url('img/t4.jpg')"></div>
					<h6 class="hero-subtitle ">
						Jessy Simpson	
					</h6>
					<p class="title uppercase letter-spacing-1 color-primary">The Brainstromer</p>
					<p class="color-primary">
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>