  <section class="omg_component team-1">
    <div class="bg-color bg-white">
      <div class="container padd-top-lg padd-bottom-lg">
        <h1 class="title">Meet our Team</h1>

        <p class="text-sm color-primary">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
        elementum eu neque.</p>

        <div class="row">
          <div class="col-sm-3">
            <div class="wrapper">
              
                <div class="wrapper">
                  <div class="bg-img padd-top-2x padd-bottom-2x" style="background-image:url('img/t1.jpg')"></div>

                  <p class="uppercase padd-top-xs title">Charlie Vosper</p>

                  <p class="hero-subtitle color-primary">designer</p>

                  <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. elementum eu neque.</p>

                  <p class="text-sm padd-bottom-xs"><a class="icon ion-social-facebook" href="#"></a> <a class="icon ion-social-googleplus" href="#"></a>
                  <a class="icon ion-social-dribbble-outline" href="#"></a> <a class="icon ion-social-instagram-outline" href="#"></a>
                  </p>
                </div>
              </div>
            
          </div>

          <div class="col-sm-3">
            <div class="wrapper">
              
                <div class="wrapper">
                  <div class="bg-img padd-top-2x padd-bottom-2x" style="background-image:url('img/t2.jpg')"></div>

                  <p class="uppercase padd-top-xs title">Dennis Morrison</p>

                  <p class="hero-subtitle color-primary">designer</p>

                  <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. elementum eu neque.</p>

                  <p class="text-sm padd-bottom-xs"><a class="icon ion-social-facebook" href="#"></a> <a class="icon ion-social-googleplus" href="#"></a>
                  <a class="icon ion-social-dribbble-outline" href="#"></a> <a class="icon ion-social-instagram-outline" href="#"></a></p>
                </div>
              </div>
            
          </div>

          <div class="col-sm-3">
            <div class="wrapper">
              
                <div class="wrapper">
                  <div class="bg-img padd-top-2x padd-bottom-2x" style="background-image:url('img/t3.jpg')"></div>

                  <p class="uppercase padd-top-xs title">Silje Knudsen</p>

                  <p class="hero-subtitle color-primary">designer</p>

                  <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. elementum eu neque.</p>

                  <p class="text-sm padd-bottom-xs"><a class="icon ion-social-facebook" href="#"></a> <a class="icon ion-social-googleplus" href="#"></a>
                  <a class="icon ion-social-dribbble-outline" href="#"></a> <a class="icon ion-social-instagram-outline" href="#"></a></p>
                </div>
              
            </div>
          </div>

          <div class="col-sm-3">
            <div class="wrapper">
              
                <div class="wrapper">
                  <div class="bg-img padd-top-2x padd-bottom-2x" style="background-image:url('img/t4.jpg')"></div>

                  <p class="uppercase padd-top-xs title">Stian Aasen</p>

                  <p class="hero-subtitle color-primary">designer</p>

                  <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. elementum eu neque.</p>

                  <p class="text-sm padd-bottom-xs"><a class="icon ion-social-facebook" href="#"></a> <a class="icon ion-social-googleplus" href="#"></a>
                  <a class="icon ion-social-dribbble-outline" href="#"></a> <a class="icon ion-social-instagram-outline" href="#"></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      
    </div>
  </section>